[2017-04-09 19:37] frabert opened #1 "Incorrect API specification for "TextureParameterName" and "TextureTarget""
Some values, like `GL_TEXTURE_MAX_LEVEL`, should be inside the `TextureParameterName` group, and not inside the `TextureTarget` group.

See luca-piccioni/OpenGL.Net#38 for an example of incorrect behavior caused by this.

[2017-04-10 20:31] luca-piccioni opened #2 "glMultiDrawElementsBaseVertex: missing group attribute"
The `glMultiDrawElementsBaseVertex*` commands definitions miss the group attribute for the argument `mode`. Other _Draw_ commands have the mode argument typed with the _PrimitiveType_ group; I don't see any reason why the `glMultiDrawElementsBaseVertex*` should be excluded. Indeed I suggest to update with:

[code]

[2017-04-10 20:40] luca-piccioni opened #3 "Missing groups mentioned in commands"
Groups are very useful for creating API bindings enumerations. However, there are cases that OpenGL command arguments have the relative group attribute, but no corresponding group XML element exist.
An example is `StencilFaceDirection`, associated to the face argument of commands like `glStencilOpSeparate`: the `StencilFaceDirection `group is undefined.

Indeed adding the definition should solve t

[2017-04-10 20:49] luca-piccioni opened #4 "Mismatch between command argument names and documentation argument names"
My OpenGL API bindings generator tries to match available documentation with the current command definition, in order to document the commands properly. Indeed thousands of commands are perfectly integrated with the OpenGL documentation, but few commands have a mismatch on arguments names with respect the ones found in the documentation.

Here is the current list of the arguments with missing docu

[2017-04-11 02:30] oddhack commented on #2
The groups and group attribute tags are holdovers from the ancient SGI ".spec" format, and have rarely been kept up to date, because Khronos doesn't use them for anything. Making improvements is fine, so long as they have no semantic effects on the generated headers, but I'll be more likely to accept such changes if you propose them in the form of pull requests rather than issues.

[2017-04-11 20:54] #4 closed, assigned to nobody

[2017-04-12 12:52] #3 closed, assigned to nobody

[2017-04-12 12:53] #2 closed, assigned to nobody

[2017-04-24 15:26] oddhack commented on #1
Please move this over to the OpenGL-Registry  repository where gl.xml is kept - you have some other issues/PRs over there so maybe this is just left over from earlier?

[2017-04-24 15:26] #1 closed, assigned to oddhack

[2017-05-19 03:23] jchen10 opened #5 "UNIFORM_ARRAY_STRIDE for atomic counters"
Spec says UNIFORM_ARRAY_STRIDE for atomic counters is an implementation-dependent value.
ES 3.10 section 7.7.1:
“Arrays of type atomic_uint are stored in memory by element order, with array element member zero at the lowest offset. The difference in offsets between each pair of elements in the array in basic machine units is referred to as the array stride, and is constant across the entire array.

[2017-06-01 20:28] shannonwoods commented on #5
Can someone with project member access add the OpenGL ES label to this issue, please?

[2017-06-10 20:00] gshep opened #6 "OpenGL-Registry does not contain khrplatform.h"
Currently the header can be found in EGL-Registry. Maybe it should be copied to the OpenGL-Registry repository too or extracted to the standalone repository?

[2017-06-11 17:55] oddhack commented on #6
What is the "standalone repository"?

[2017-06-11 18:41] gshep commented on #6
Sorry for confusing.

I meant to create new repository, for example 'KHR-Platform' and place the files there.

[2017-06-11 19:00] oddhack commented on #6
khrplatform.h changes approximately never, since new platforms are rare. My only concern in making a copy is that it will be easy to forget to update it when never finally occurs. Don't want to create an entirely new repo for a single file.

[2017-06-11 20:05] gshep commented on #6
Maybe it is worth to mention in README in OpenGL-Registry that the header could be found in the EGL-Registry?

I agree that copy-paste is a bad idea =)

[2017-06-11 20:27] oddhack commented on #6
I added a comment to the repository README.adoc noting the requirement for khrplatform.h. There is already a similar comment in the index pages for the ES and SC registries, whose headers require khrplatform.h. Will that do?

[2017-06-11 21:28] gshep commented on #6
Certainly!

[2017-06-11 21:28] #6 closed, assigned to nobody

[2017-07-04 06:52] qjia7 opened #7 "readonly writeonly buffer variable"
In GLSL ES 3.10 session 4.9 [Memory Access Qualifiers], it has the following description:'A variable could be qualified as both readonly and writeonly, disallowing both read and write, but still be passed to
imageSize() to have the size queried. '. That is for image variable. However, for buffer variable, it seems that there is no such scenario for both readonly and writeonly.  And I tried the nat

[2017-07-26 15:53] johnkslang commented on #7
Can you provide more information about the test that expects `readonly writeonly` to be an error? This appears to be an inconsistency between the specification (which allows it, because it does not say it is an error) and the test, which we will look at internally in Khronos. Having more information about the test will help.

[2017-07-26 17:40] markkilgard opened #8 "add NV_blend_minmax_func to OpenGL registry"
Please assign an extension number to the attached NV_blend_minmax_func and add it to the OpenGL and ES registries.
[GL_NV_blend_minmax_factor.txt](https://github.com/KhronosGroup/OpenGL-API/files/1177560/GL_NV_blend_minmax_factor.txt)

[2017-07-27 06:02] oddhack commented on #8
OK, done. In the future please submit extensions via PRs to KhronosGroup/OpenGL-Registry (this goes for everyone).

[2017-07-27 06:02] #8 closed, assigned to nobody

[2017-08-01 10:03] qjia7 commented on #7
@johnkslang Sorry for the late response. The description has been updated. Please take a look.

[2017-08-01 17:11] johnkslang commented on #7
We will look at Khronos.

The general rule is that things are allowed by the grammar, and then disallowed by specific statements in the spec body. So, unless there is a rule disallowing a combination (that the grammar allows), it is legal.

[2017-08-01 17:14] gnl21 commented on #7
@qjia7 I can't find a dEQP test that expects this to be a compile error. I believe that it is allowed by the spec and testing suggests that at least some implementations allow it.

There is a possible use for this kind of qualification (analogous to image size), for example:
buffer B {
    readonly writeonly arr[];
};

void main() {
    arr.size();
}

Perhaps the GLSL spec text could be updated to

[2017-08-02 01:14] qjia7 commented on #7
@gnl21 Sorry that I forgot to say that I modified the deqp case and added the readonly writeonly buffer variable to test. After that, the compile failed.  If I only add readonly buffer variable or writeonly buffer variable, the compile passed. It's only to verify whether the driver follows the spec. However, it seems that the driver implementation treats it as illegal.
Thanks to provide the exampl

[2017-08-12 15:50] NicolBolas opened #9 "[OpenGL] 4.6: Vertex Post-Processing chapter contains a lot of incorrect references to "vertex shader""
Consider the first line of 13.5:

Except that this isn't true. This happens to the output of the last vertex active processing stage, not specifically vertex shader outputs. Yes, the section later goes on to talk about "If a vertex, tessellation or geometry shader is active...", but that sentence is still wrong.

And this is not the only place where "vertex shader" is used instead of "last active

[2017-08-12 16:21] NicolBolas opened #10 "[OpenGL] 4.6: SPIR-V cannot correctly declare interpolation on variables."
When discussing a vertex property's interpolation, the specification consistently talks about the vertex processing stage's output variable declaration:

However, in the SPIR-V validation section, it says this:

This means that only *fragment shader* inputs can have these decorations. So, how can SPIR-V satisfy the rule above: "the `noperspective` and `flat` keywords used to declare shader outputs

[2017-08-12 22:14] imirkin opened #11 "[OpenGL] GL_ARB_ES3_compatibility (and GL 4.3+) imply that an online ETC2 compressor is required."
GL_ARB_ES3_compatibility adds the various ETC2 formats to table 3.20 of the GL 4.2 compat specification. The specification talks about it being legal to pass an internal format to glTex(Sub)Image* for any of the formats listed in 3.20, which means that the image needs to be storable in the compressed format. The GL_ARB_ES3_compatibility spec text does say, when introducing the new tokens, that the

[2017-08-14 18:16] pdaniell-nv commented on #11
OpenGL ES doesn't require online compression but traditionally OpenGL does. The intent in adding these new formats to OpenGL was to treat them like other OpenGL compressed textures. The NVIDIA implementation does online compression for that reason. However, I'm open to the idea of not requiring online compression for these if other vendors don't want to support that.

[2017-08-14 19:52] imirkin commented on #11
FWIW Mesa does not currently implement online compression for ETC2. I'm a bit curious what AMD and Intel do on Windows. Are you saying that NVIDIA supports even ASTC compression on desktop GL?

It should be noted that there are no conformance tests for this in CTS, as (my understanding is that) Intel passed GL 4.5 conformance with Mesa/i965.

[2017-08-17 17:52] ianromanick commented on #11
Desktop OpenGL has traditionally required on-line compression, and I think even Pat Brown (who wrote the original GL_ARB_texture_compression spec) believes that was a mistake.  Mesa has supported GL_ARB_ES3_compatibility for a really long time without on-line compression without any problems of which I'm aware.  It seems unlikely that any application depends on this feature.

I'd swear that this i

[2017-08-18 15:42] johnkslang commented on #7
This sounds like a defect in your driver, as the Khronos intent is to allow `readonly writeonly`. Khronos will update the GLSL specification to make this more clear.

[2017-08-22 19:41] pdaniell-nv commented on #11
We discussed this in the OpenGL work group meeting on Friday and agreed to not require online compression for these formats.

To resolve this I propose we add a new column to table 8.14 which indicates whether the format is allowed to be used with Tex{Sub}Image and CopyTex{Sub}Image. And add to the error sections of those commands to indicate that INVALID_OPERATION is generated if the function is

[2017-08-22 20:08] pdaniell-nv commented on #10
Discussed in the OpenGL WG meeting on Friday. We agreed that only the fragment shader input qualifiers are required to determine interpolation. The GLSL spec will be clarified to say this.

For the API spec, we need to update this:

To say something like:

@oddhack can you make this change?

[2017-08-22 20:26] pdaniell-nv commented on #9
Discussed in the OpenGL WG meeting on Friday. From the examples above the phrase "vertex shader", when it applies to the last vertex processing shader stage, should be replaced with "last vertex processing shader stage" or similar. This primarily affects Chapter 13.

@oddhack There are about 5 occurrences of "vertex shader" in chapter 13 we should fix. Can you take care of it?

[2017-08-22 20:34] pdaniell-nv commented on #5
The next spec revision will say the stride is always 4.

[2017-08-22 20:34] #5 closed, assigned to nobody

[2017-08-27 16:42] imirkin opened #12 "Should doubles count as 1 or 2 components each for vertex inputs and GL_ARB_enhanced_layouts"
I was recently reviewing the enhanced layout specs in connection with some failing CTS tests, and noticed that while e.g. a dvec4 takes up only a single location (instead of 2 as it would with inter-shader varyings), no similar provision is made for the component setting. From the GLSL 4.50 spec, section 4.4.1:

four components available within a location. A **dvec3** or **dvec4** can only be decl

[2017-08-27 19:25] imirkin opened #13 "Should patch location/component space alias with per-vertex location/component space?"
It seems like per-patch and per-vertex varyings are largely separate beasts. However on careful reading of ARB_enhanced_locations and ARB_separate_shader_objects, it does not seem like any provision to separate the location/component spaces exists. And now a test has been added to CTS, KHR-GL45.enhanced_layouts.varying_location_aliasing_with_mixed_auxiliary_storage, which explicitly tests for an e

[2017-08-29 10:12] ghost commented on #13
I am sure we've discussed this in the past, though can't remember what the reasoning was on going this route. I am sure it had something to do with the API limits - the spec required minimum would be impossible for any vendor who uses fixed, shared storage for these varyings as it would double the required storage for a given shader (probably TCS is more of a concern?).

@pdaniell-nv Do you rememb

[2017-08-29 16:32] pdaniell-nv commented on #13
I don't remember specifically but I'm sure it's to allow implementations to use a separate bank of registers for the per-patch interface, which may have a different limit to the regular interface.

[2017-08-29 16:40] ghost commented on #13
Ah you might be right.

Either way - I am confident we discussed this and came to the conclusion that the approach we have is the right one given what we have available to us - which is why the CTS issue got filed and the test developed.

An extension might be able to do something "better" but in the core spec, we have what we have.

@imirkin Does that answer your question? We could go to the grou

[2017-08-29 16:41] imirkin commented on #13
On NVIDIA DX11 hardware there are separate input/output spaces, one for patch and one for vertex attributes (with shader input/output operations taking a special "patch" flag to distinguish between them). Starting with later generations, I also believe that there's been a shift towards making these spaces accessible directly via memory writes (Maxwell+),. On Adreno A4xx (and I believe A5xx as well

[2017-08-30 08:17] ghost commented on #13
Right the point is though that we have nothing in the spec that expresses this variety of hardware very well. Not ideal, but it is what it is. In order for people to be able to write portable code, they have to make certain assumptions, this is one of them. We don't want people writing code on Mesa and having it work, only to go to another driver and having it fail with a (spec-correct!) failure.

[2017-08-30 13:04] imirkin commented on #13
@TobiasHector Yep, totally get it. Just wanted to be crystal clear that this is what the requirement was. Quite annoying when $IMPLA accepts things it shouldn't, and then applications tested against that impl are released, and don't work on $IMPLB. Esp if you maintain $IMPLB.

[2017-08-30 13:04] #13 closed, assigned to nobody

[2017-09-01 15:36] johnkslang commented on #12
Note glslang is consistent with what you report.  It says this on the last line of code above:

[2017-09-01 17:32] dgkoch commented on #12
WG 2017-09-01. It does appear somewhat inconsistent, but it is intentional (mostly for historical reasons at this point).
Note that as @johnkslang pointed out, the last line of your second example isn't actually legal in any shader state because it overflows components, so maybe it's not really as bad as it seems at initial glance.

As for the historical reasons -- on the API side, the double loca

[2017-09-01 17:32] #12 closed, assigned to pdaniell-nv

[2017-09-01 17:36] imirkin commented on #12
Right... my point was mainly that vertex shader dvec4 input attributes take up a single location (at the API level), so it would make sense that a double would take up 1 component (again, at the API level, with implementations being free to allocate 2 "real" components). It's odd to say that you can have a dvec4 in a single API location, but not 2 dvec2's. If that's on purpose, then I guess that's

[2017-09-04 04:42] NicolBolas opened #14 "OpenGL 4.6: Do atomic counter buffers require the use of `glMemoryBarrier` calls to be able to access the counter?"
The specification seems rather ambiguous about this.

On the one hand, section 7.12 says this:

Atomic counters are conspicuous by their absence. Atomic counters are not "shader image variables" or "shader buffer variables." As such, the rest of 7.12 should not apply to them.

The other thing is that the ARB_shader_atomic_counter extension doesn't state any dependency on ARB_shader_image_load_stor

[2017-09-06 01:36] ianromanick commented on #13
It's pretty clear that this should fail to compile.  The GLSL spec says:

"A program will fail to link if any of the following occur....any two output variables from the same vertex or tessellation shader stage are assigned to the same location."

The part that I'm having trouble with is how the value specified in the location layout is validated.  There are separate limits for per-vertex and per-

[2017-09-12 01:09] NicolBolas opened #15 "Multidraw and invocation groups."
In the Vulkan specification, the standard explicitly says, "For indirect drawing commands with `drawCount` greater than one, invocations from separate draws are in distinct invocation groups." However, OpenGL has no similar statement, either for indirect or direct multidraw commands. The GLSL specification only says, "single rendering command, as defined by the client API," (copied word-for-word f

[2017-09-15 03:55] NicolBolas opened #16 "OpenGL 4.6: SPIR-V and shader object type."
When you create a shader object, it is passed the shader stage that it works with. But SPIR-V entry points serve the same function: each entry point specifies which shader stage it works with.

So, what happens if there is a mismatch when specializing a shader? That's not explicitly a failure mode of `glSpecializeShader`; it only says that the entry point must be "valid".

[2017-09-27 16:21] NicolBolas opened #17 "GL 4.6: GL_PARAMETER_BUFFER and memory barriers"
ARB_indirect_parameters (and the equivalent GL 4.6 specification) does not define a `glMemoryBarrier` bit that allows writes from image load/store and SSBOs to be visible to parameter buffer reads. And none of the existing barriers are stated to provide this functionality.

So at present, it seems impossible to use image load/store or SSBOs to write indirect parameters. Only atomic counters can wr

[2017-09-28 02:53] NicolBolas opened #18 "GL 4.6: core spec mentions fixed-function lighting in text."
See this quote from page 475:

Emphasis added. The core profile specification should probably not have that clause.

[2017-10-02 15:34] NicolBolas opened #19 "Occlusion query counter only cares about depth tests"
The standard is very strange about when occlusion query counters get updated. It clearly states that occlusion queries happen after depth *and* stencil tests. However, it also states:

The standard always talks about this in terms of passing the depth test, *never* in terms of a fragment reaching this particular stage in the pipeline. By contrast, the Vulkan standard is explicit about sample count

[2017-10-04 16:14] ghost commented on #7
The WG agreed that a spec clarification is in order, leaving assigned to @johnkslang to propose a change. The driver bug is a separate issue, and a CTS test is now written which should catch that in future.

[2017-10-05 08:59] ghost commented on #15
I *think* this is just a question about SPIR-V/GL, but if this affects GLSL as well, please add the ES tag @pdaniell-nv

[2017-10-05 09:17] ghost commented on #19
Sounds like we need something like "fragments that aren't discarded by earlier stages" in the occlusion query description, rather than "fragments that pass the depth test".

Ok so whilst these extra stages say something about discarding, you think we need a blanket statement at the top of "Per-Fragment Operations" that says a similar thing about discarding? Seems reasonable.

This needs discussing

[2017-10-05 09:20] ghost commented on #9
Looks like this affects ES too, so also assigning myself to discuss in the next ES meeting.

[2017-10-06 16:04] nhaehnle commented on #15
One could argue that OpenGL *does* define it, though rather indirectly, because it uses pseudo code to define the indirect drawing commands in terms of a sequence of non-indirect drawing commands that are said to be equivalent except for OpenGL error generation.

I agree though that a clarification would be helpful.

[2017-10-06 16:10] nhaehnle commented on #17
This only affects the drawcount. COMMAND_BUFFER_BARRIER_BIT should be extended to mention MultiDraw*IndirectCount.

While we're at it, the type of the maxdrawcount of MultiDrawArraysIndirectCount should be sizei (like MultiDrawElementsIndirectCount).

[2017-10-06 17:03] NicolBolas commented on #15
If you use that definition, then each instance within a single drawing command would be considered an "invocation group", since instanced rendering commands are defined in terms of multiple calls to the hypothetical `glDraw*OneInstance` function. And that's very much _not_ what Vulkan requires, so it's highly unlikely that desktop OpenGL would be more lenient, since the hardware certainly isn't.

[2017-10-06 17:07] NicolBolas commented on #17
I assume you mean `GL_COMMAND_BARRIER_BIT`.

[2017-10-06 17:11] nhaehnle commented on #17
Yeah, obviously :)

[2017-10-06 17:19] nhaehnle commented on #15
That's a good point, actually. So we really need to clear that up.

[2017-10-13 15:49] pdaniell-nv commented on #17
Discussed in the WG meeting today. We agree with Nicolai's suggestion. @nhaehnle can you make a proposed spec change here for Jon to incorporate? Thanks.

[2017-10-13 15:57] pdaniell-nv commented on #19
Touched on this briefly in the OpenGL WG meeting. What Tobias suggested about makes sense to generalize what is counted beyond depth test.

[2017-10-18 15:44] ghost commented on #9
Assigning to Piers to talk about this with the OpenGL ES group.

[2017-10-19 01:50] null77 opened #20 "OpenGL ES/gl.xml: GL_NV_path_rendering needs functionality from EXT_direct_state_access, not available in GLES"
The extension for GL_NV_path_rendering states:

(snip)

However these entry points are never mentioned in gl.xml, and EXT_direct_state_access is not mentioned as a GLES extension. Maybe these entry points be added to gl.xml under this extension, instead of under EXT_direct_state_access, since that is not specified as a GLES extension.

This is making life hard for my auto-generation script.

[2017-10-20 12:04] ghost commented on #19
Just to wrap this up, here's a specific proposal:

Replace:

in the first paragraph with:

and then replace:

in the last paragraph with:

Those instructions work against section 17.3.5 of the OpenGL 4.6 spec as well, though you also need to replace:

in the second paragraph with:

[2017-10-20 14:54] null77 commented on #20
Maybe not the right issue tracker for this issue. Closing.

[2017-10-20 14:54] #20 closed, assigned to nobody

[2017-10-23 14:57] nhaehnle commented on #17
Also sent a pull request for the spec internally. Not sure if that's the best procedure, but it's only a handful of words that change...

https://gitlab.khronos.org/opengl/API/merge_requests/4

[2017-10-25 15:10] pdaniell-nv commented on #9
Joint OpenGL|ES WG meeting discussed this. When talking specifically about a "shader stage" then phrase "last vertex processing shader stage" should be used. Otherwise when talking about vertex processing in general then simply "vertex processing [stage]" should be used.

We'll leave the details to spec editor discretion.

Assigned to @oddhack to incorporate these changes in next GL|ES spec update

[2017-10-25 15:13] pdaniell-nv commented on #19
OpenGL|ES meeting today approved Tobias' suggestion. Assigned to @oddhack to add to spec updates.

[2017-10-25 17:35] pdaniell-nv commented on #18
Perhaps we should change that sentence on page 475 with this:

[2017-10-25 17:54] pdaniell-nv commented on #15
We discussed this in the 2017-10-13 OpenGL WG meeting. We decided that best the spec can guarantee is that the entire multidraw API call represents one invocation group. In particular some hardware may not be able to update dynamically uniform values between draw iterations of a multidraw call, so we can't have the API spec state that each draw in a multidraw is a distinct invocation group.

I'm n

[2017-10-26 05:41] NicolBolas commented on #15
If you do that, then the specification would contradict itself. OpenGL 4.6 says (emphasis added):

And GLSL 4.60 says (emphasis added):

`gl_DrawID` cannot resolve to different values in the same invocation group and still adhere to the definition of "dynamically uniform". So it seems to me that the possibilities are:

1. Individual draw operations in a multidraw command (direct or indirect) must

[2017-11-03 16:36] markkilgard opened #21 "EXT_window_rectangles extension specification update"
I've updated the EXT_window_rectangles specification (attached) to fix an issue noted by Kai Ninomiya @ Google and added an issue 29 about Vulkan support.

Please update the registry version with the attached version.  Thanks.

[EXT_window_rectangles.txt](https://github.com/KhronosGroup/OpenGL-API/files/1441766/EXT_window_rectangles.txt)

[2017-11-03 16:37] markkilgard commented on #21
(FYI: this extension specification is for both ES and OpenGL)

[2017-11-04 05:26] oddhack commented on #21
Please propose it as a pull request (with updates to xml/gl.xml, if there are any API changes) rather than an issue. Then we can iterate if needed, and just accept the PR from your branch.

[2017-11-04 05:28] oddhack commented on #18
It's also straightforward to conditionalize the clause so it doesn't show up in core profile.

[2017-11-08 16:24] pdaniell-nv commented on #18
Approved either way to address the issue in the OpenGL|ES meeting. Up to @oddhack as editor to choose. Assigned to update spec.

[2017-11-08 16:45] pdaniell-nv commented on #14
We have an internal analysis of this issue, which can be seen by members here: https://gitlab.khronos.org/opengl/WG-Docs/wikis/shader_atomic_counters_coherency.

We are discussing this issue internally and hope to come to a resolution soon.

[2017-11-14 19:15] pdaniell-nv commented on #15
Good point about Vulkan being explicit that each iteration of a multi-draw command is a separate invocation group. I see no reason why OpenGL can't be the same in this regard. We'll discuss this at the next meeting.

[2017-11-14 19:16] pdaniell-nv commented on #15
For reference, here is the Vulkan spec:
https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#shaders-invocationgroups

[2017-11-14 23:45] dgkoch commented on #16
I propose replacing the current error:

     INVALID_VALUE is generated if <pEntryPoint> does not name a valid
     entry point for <shader>.

with the following:

     INVALID_VALUE is generated if <pEntryPoint> does not match the
     <Name> of any OpEntryPoint declaration in the SPIR-V module
     associated with <shader>.

     INVALID_OPERATION is generated if the <Execution Mode> of the

[2017-11-15 16:21] pdaniell-nv commented on #16
OpenGL|ES meeting approved. @dgkoch to create ARB extension PR and @oddhack to incorporate that change into core spec.

[2017-11-15 16:44] pdaniell-nv commented on #14
We discussed this again in the OpenGL|ES meeting. Based on feedback from IHVs and their implementation of atomic counters we're planning to treat them like we treat other resources like image atomic, image load/store, buffer variables, etc. in that they require explicit synchronization from the application. The spec will be changed to add "atomic counters" to the places where the other resources a

[2017-11-15 22:03] dgkoch commented on #16
PR for extension doc: https://github.com/KhronosGroup/OpenGL-Registry/pull/129

Also filed CTS issue to make sure test for new error is added: https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/852

[2017-11-16 23:04] dgkoch commented on #16
Extension PR was merged. Assigning to @oddhack to incorporate the same change into the next GL 4.6 spec update.

[2017-11-21 06:29] zeux opened #22 "SHADER_STORAGE_BUFFER_OFFSET_ALIGNMENT has a min value of 256"
SHADER_STORAGE_BUFFER_OFFSET_ALIGNMENT declares a min. value of 256 in the spec (GL 4.4 p 589. table 23.64)

This seems like a bug to me:
- Min value for min. required UBO alignment is 1, I don't really see why SSBO would be different
- Vulkan spec declares a max. value of min. required SSBO alignment as 256
- Many drivers report values less than 256 for this value: http://opengl.gpuinfo.org/gl_st

[2017-11-21 10:21] nhaehnle commented on #22
This has been fixed in the GL 4.6 spec. There, table 23.64 has a footnote (dagger) on the 256 which clarifies that it's the maximum, not the minimum.

[2017-11-21 10:21] #22 closed, assigned to nobody

[2017-11-25 15:41] NicolBolas opened #23 "OpenGL 4.6: Buffer object first binding"
The 4.6 specification says, in Chapter 6.1:

However, according to Issue 2 in ARB_direct_state_access, this is not the case:

do not include the &lt;target> parameter. Does implementations may make
initial assumptions about the usage of a data store based on this
parameter. Where did it go? Should we bring it back?

don't make usage assumption based on the &lt;target> parameter. Only one
vendor ex

[2017-11-25 19:53] nvpbrown commented on #21
I am syncing NVIDIA's internal document repository with the Khronos repository and will create a pull request that contains the proposed edits.

[2017-11-25 20:26] nvpbrown commented on #21
These edits are included in the following pull request:

https://github.com/KhronosGroup/OpenGL-Registry/pull/140

[2017-11-27 13:11] dgkoch commented on #21
Closing PR was merged.

[2017-11-27 13:11] #21 closed, assigned to markkilgard

[2017-11-29 02:45] qjia7 opened #24 "Repeated INVALID_OPERATION error in DispatchCompute"
In OpenGL ES Version 3.1 (November 3, 2016), Chapter 17, for DispatchCompute API, there are below errors description:
Errors
1. An INVALID_OPERATION error is generated if there is no active program object for the compute shader stage.
2. An INVALID_VALUE error is generated if any of num groups x, num groups y and num groups z are greater than the maximum work group count for the corresponding dime

[2017-11-29 02:47] qjia7 commented on #24
@johnkslang @TobiasHector Please take a look. Thanks.

[2017-11-29 17:13] pdaniell-nv commented on #23
The full sentence from the spec discussing BindBuffer() is:

It's surprising to me that using a name generated by GenBuffers may affect the initial buffer object state vs a user-generated name. I can't think of a reason why that is the case. Maybe what it's trying to say that the state of the buffer name generated by GenBuffer might change after calling BindBuffer() on that name.

In any case, I t

[2017-12-20 18:11] pdaniell-nv commented on #24
In the latest OpenGL 4.6 and OpenGL ES 3.2 specifications, the last clause 3. has been removed since it was considered redundant. In general we don't usually propagate bug fixes to older specifications because the fix may invalidate existing implementations.

Does that seems reasonable?

[2017-12-20 23:08] qjia7 commented on #24
@pdaniell-nv Thanks for pointing it out. Sounds good for me.

[2017-12-20 23:08] #24 closed, assigned to nobody

[2017-12-27 07:30] Richard-Yunchao opened #25 "Errors in GL/GLES man pages"
I am not sure whether this is the appropriate place to point out the errors in GL/GLES man page. If here is not the correct place, please let me know the correct one to discuss/revise such issues.

One of the issues I found in gles man page:
The glGet variants in gles 3.1 man page at https://www.khronos.org/registry/OpenGL-Refpages/es3.1/html/glGet.xhtml miss some pnames as follows:
SAMPLE_MASK_VA

[2017-12-27 09:33] oddhack commented on #25
Please post this over on https://github.com/KhronosGroup/OpenGL-Refpages/issues . Or if you want to post a pull request fixing the problems there, even better.

[2017-12-27 09:33] #25 closed, assigned to nobody

[2017-12-28 06:03] Richard-Yunchao opened #26 "Bug in OpenGL ES 3.0 for TexImage2D"
I am not sure whether you would fix bug in old specification like OpenGL ES 3.0.

Here comes the bug:

Page 136 in GLES 3.0 spec (https://www.khronos.org/registry/OpenGL/specs/es/3.0/es_spec_3.0.pdf):
"If width, height, depth or levels is less than 1, the error INVALID_VALUE is generated. "
should be
"If width, height, depth or levels is less than 0, the error INVALID_VALUE is generated."

Just le

[2018-01-02 17:58] pdaniell-nv commented on #26
That line on page 136 of the OpenGL ES 3.0 spec is talking about TexStorage2D and and I believe "is less than 1" is correct since 0 would be an invalid texture size for creating an immutable texture.

For TexImage2D, the error is on page 133, and it says "less than 0" as you describe.

[2018-01-03 02:02] Richard-Yunchao commented on #26
You are correct. It is in the section <Immutable-Format Texture Images>. It is not for TexImage2D/TexImage3D. I made a mistake here. Sorry for that. Close this issue then.

[2018-01-03 02:02] #26 closed, assigned to nobody

[2018-01-03 03:19] Richard-Yunchao opened #27 "Bug in GLES 3.2 Spec: TexImage2DMultisample should be TexStorage2DMultisample"
Page 182, in section 8.8 <Multisample Textures> in OpenGL ES 3.2 spec at https://www.khronos.org/registry/OpenGL/specs/es/3.2/es_spec_3.2.pdf, the "TexImage2DMultisample" should be "TexStorage2DMultisample".

In addition, I suppose that TexImage2DMultisample is not exposed in GLES 3.2. So the second "TexImage2DMultisample" at <Index> section on page 568 should be removed (I suppose this one is aut

[2018-01-05 06:55] Richard-Yunchao opened #28 "Bugs in GLES 3.0 for FramebufferTexture2D"
(I am not sure whether you would fix the bug in GLES 3.0 spec. But I would like to point out the bugs. If you would never fix bugs in GLES 3.0 spec because it is too old or there are some other reasons, please let me know. Then I would not list the bugs I found)

Section 4.4.2.4 in latest GLES 3.0 spec (GLES 3.0.5 at https://www.khronos.org/registry/OpenGL/specs/es/3.0/es_spec_3.0.pdf), page 208,

[2018-01-10 15:09] Richard-Yunchao opened #29 "An issue about multisample texture in GLES 3.1 spec: the 3rd dimension for multisample texture is unnecessary"
In GLES 3.1 spec (https://www.khronos.org/registry/OpenGL/specs/es/3.1/es_spec_3.1.pdf) at section 11.1.3.3 <Multisample Texture Fetches>, there is no 2D multisample texture array, so the multisample texture only have 2 dimensions.

So in this statement below:

the texel coordinates (i, j, k) refer to a texel outside the extents of the multisample texture image, where any of
             i < 0

[2018-01-12 06:14] Richard-Yunchao opened #30 "The data type of sizedinternalformat for TexStorage{2D|3D}Multisample in GLES 3.1/3.2 should be "enum"."
The data type of sizedinternalformat for TexStorage{2D|3D}Multisample in GLES 3.1/3.2 specifications are "int", but the data type of sizedinternalformat for TexStorage{2D|3D}Multisample in OpenGL specs are "enum", and the data type of internalformat/sizedinternalformat in similar APIs like TexStorage{2D|3D} are all "enum". So I think the data type in GLES should be "enum" too, which is aligned wit

[2018-01-17 16:27] pdaniell-nv commented on #27
Agreed this should say "TexStorage2DMultisample". Assigned to @oddhack to make the fix.

[2018-01-23 14:00] oddhack commented on #10
This will be fixed in the next spec update, coming soon.

@pdaniell-nv the ES spec doesn't talk about SPIR yet, but should we make this same fix there anyway in anticipation? If so this can be reopened against me with appropriate label changes.

[2018-01-23 14:00] #10 closed, assigned to oddhack

[2018-01-23 14:16] oddhack commented on #16
This will be fixed in the next GL 4.6 spec update, coming soon.

[2018-01-23 14:16] #16 closed, assigned to oddhack

[2018-01-23 15:08] oddhack commented on #17
This will be fixed in the next public spec update.

[2018-01-23 15:08] #17 closed, assigned to oddhack

[2018-01-23 15:08] oddhack commented on #17
(Coming soon).

[2018-01-23 15:17] oddhack commented on #27
This will be fixed in the next spec update, coming soon.

[2018-01-23 15:17] #27 closed, assigned to oddhack

[2018-01-23 15:27] oddhack commented on #18
This will be fixed in the next spec update, coming soon.

[2018-01-23 15:27] #18 closed, assigned to oddhack

[2018-01-24 23:26] pdaniell-nv commented on #28
We typically don't update older specs. However, we will fix bugs in the latest OpenGL ES 3.2 spec if they still apply.
1. This bug is still in OpenGL ES 3.2.
2. This error is valid for OpenGL ES 3.2 so no change required.
3. This error is valid for OpenGL ES 3.2 so no change required.

@oddhack could you remove the irrelevant issue (1) from OpenGL ES 3.2.

[2018-01-24 23:28] pdaniell-nv commented on #29
Yeah, it seems correct to remove the reference to depth for multisample textures. This issue is in the ES 3.2 spec.

[2018-01-25 00:01] pdaniell-nv commented on #30
Yes, these should be "enum". Historically the texture functions took "int" as their internalFormat because OpenGL 1.0 used to support parameters like "1", "2" and "4". We have since cleaned that up to be "enum", but clearly missed this case.

@oddhack could you take care of this? Thanks.

[2018-01-31 09:59] Richard-Yunchao commented on #28
Yes. The first bug exists in OpenGL ES 3.2 spec too.

[2018-01-31 10:06] Richard-Yunchao commented on #29
In OpenGL ES 3.2, It has 2D array multisample texture (TexStorage3DMultisample). So it is OK to have 3rd dimension for texelFetch from multisample texture.
But in OpenGL ES 3.1, it only has 2D multisample texture, so it is weird to have the 3rd dimension for textureFetch from multisample texture.

However, you would not fix bugs in OpenGL ES 3.1, so you don't need to take action for this bug.

[2018-02-05 02:49] Jiawei-Shao opened #31 "Typos in OpenGL ES 3.2 SPEC"
Hi,
I have found two typos in the latest OpenGL ES 3.2 SPEC:
(https://www.khronos.org/registry/OpenGL/specs/es/3.2/es_spec_3.2.pdf)
1.  Chapter 11.3.1 Page 327, in the paragraph before "Points":
     A '.' is missed before "The input primitive type may be queried by calling GetProgramiv with pname GEOMETRY_INPUT_TYPE.".

2. Chapter 11.3.4.3 Page 331, in the second paragraph:
    There is a duplica

[2018-02-05 02:50] Jiawei-Shao commented on #31
@Richard-Yunchao

[2018-02-05 03:00] Richard-Yunchao commented on #31
Good catch, Jiawei. I suppose that @pdaniell-nv and @oddhack would take another look and update the spec later.

[2018-02-06 17:56] pdaniell-nv commented on #29
Right, we're not planning to update the OpenGL ES 3.1 spec. Closing. Please reopen if you disagree. Thanks for reporting the issue.

[2018-02-06 17:56] #29 closed, assigned to pdaniell-nv

[2018-02-06 18:00] pdaniell-nv commented on #31
Agree both to both of these typos. Assigned to @oddhack to include in an upcoming spec.

[2018-02-10 22:54] imirkin opened #32 "Should it be legal to do glRenderbufferStorage with a non-renderable format?"
Currently KHR-GL45.internalformat.renderbuffer.rgb9_e5 tests to ensure that you can do glRenderbufferStorage(GL_RGB9_E5) without regard to its renderability. [Note: NVIDIA hardware does not support rendering to this format.]

While GL_RGB9_E5 is indeed a color-renderable format, it's not marked as "Req. rend" in GL 4.6 core spec's table 8.12 (nor is it required per GL_EXT_texture_shared_exponent).

[2018-02-14 15:50] pdaniell-nv commented on #32
We have a similar issue internally here: https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/1002

[2018-02-14 19:45] dgkoch commented on #32
As Piers noted, we've been discussing this inside Khronos related to a CTS issue (for the same test) that someone else from Mesa filed.

Quoting:

    The RGB9_E5 is not a valid internalformat for RenderbufferStorage. From the OpenGL 4.6
    specification, 9.2.4 Renderbuffer Objects:

    "An INVALID_ENUM error is generated if internalformat is not one of the color-renderable,
    depth-renderable

[2018-02-14 19:53] imirkin commented on #32
But even in GL 4.6, GL_RGB9_E5 is marked as "color renderable", but not "req rend". I guess I'm not 100% sure what "color renderable" means... is it "in the table AND actually renderable"? Or is it "in the table"?

Either way, sounds like the conclusion is that glRenderbufferStorage should return a crippled RB which would cause any FBO it's attached to to be incomplete. We can do that.

[2018-02-14 20:14] dgkoch commented on #32
"CR" but not "Req Rend." means it's defined as a "color renderable" format, but it's not required to be supported as a rendering target (meaning it might only be supportable as a texture).

I'm pretty sure that's what we (NVIDIA) do.

[2018-02-14 20:26] imirkin commented on #32
What if one uses glCopyImageSubData with such a RB? Do you get a INVALID_OPERATION, like you do with an incomplete texture? Or should it work effectively as a texture, and only cause failures when there's an FBO involved?

[2018-02-14 20:37] dgkoch commented on #32
Just to elaborate on this more - it also means that an implementation *could* support rendering to it if that is possible in the HW.

I don't see any reason why glCopyImageSubData wouldn't work, but I haven't personally tried that in our impl...

[2018-02-20 10:07] antiapuentes commented on #32
Summing up, mainly for myself:
(Referring to table 8.12, OpenGL 4.6)
 * Color-renderable ("CR") does not mean that you can render to it, it means only that you can create a renderbuffer with that format and attach it to a framebuffer.
 * Required renderbuffer ("Req. rend.") means that it is mandatory to be able to render to it, if it is not marked implementations can or can not support the renderi

[2018-02-21 16:09] pdaniell-nv commented on #32
@imirkin Can we close this? Discussed in the WG call today, and we agree with the summary above.

[2018-02-21 16:10] #32 closed, assigned to nobody

[2018-02-26 08:19] Richard-Yunchao opened #33 "Error in GLES 3.1: The mag filter can not be NEAREST_MIPMAP_NEAREST for stencil texture"
The statement in GLES 3.1 spec on page 190, section 8.16 <Texture Completeness>:
• The internal format of the texture is DEPTH_STENCIL, the value of DEPTH_-
STENCIL_TEXTURE_MODE for the texture is STENCIL_INDEX and either
the magnification filter or the minification filter is neither NEAREST nor
NEAREST_MIPMAP_NEAREST.

It means that NEAREST_MIPMAP_NEAREST for magnification filter is allowed accor

[2018-02-28 15:47] pdaniell-nv commented on #33
Touched on in the OpenGL ES meeting today. We agree this language has an issue and has been fixed in OpenGL ES 3.2. We don't plan to update the OpenGL ES 3.1 spec. Please close if this is satisfactory. Thanks for the issue.

[2018-03-01 00:36] Richard-Yunchao commented on #33
Thanks for your acknowledge, @pdaniell-nv . Closing.

[2018-03-01 00:36] #33 closed, assigned to nobody

[2018-03-03 20:07] NicolBolas opened #34 "OpenGL 4.6: Constant c not defined anymore in 8.15 for minification/magnification."
Section 8.14 says:

But 8.15 doesn't define this "constant c". And I don't believe there is a definition of it anywhere.

Note that older versions of the OpenGL specification actually defined "constant c" in 8.15. The paragraph seems to have disappeared between 4.4 and 4.5. Perhaps the idea was to remove the "constant c" bit and replace it with 0, but that apparently didn't fully manifest.

[2018-03-06 21:44] pdaniell-nv commented on #34
This was discussed internally in https://www.khronos.org/members/login/bugzilla/show_bug.cgi?id=9997. It was decided that the switch-over point should always be 0 (c=0) since that's what everyone does. It appears Section 8.14 wasn't updated accordingly.

I think Section 8.14 should be updated to say:

The OpenGL ES 3.2 spec already has this fix.

[2018-03-06 22:25] pdaniell-nv commented on #15
Taking another stab at this issue. As noted in the original description, the OpenGL spec is lacking a definition of "invocation group", which is referenced by the GLSL spec. The GLSL spec expects the client API to define this, which OpenGL does not. As @NicolBolas helpfully points out, we can probably add a new sub-section to section 7 to do this.

[2018-03-07 06:01] NicolBolas commented on #15
That definition seems to contradict itself. It explicitly says that individual draws in `MultiDraw*` commands are "in distinct invocation groups", but the footnote says that they all may be in a single invocation group.

[2018-03-07 06:09] pdaniell-nv commented on #15
That footnote comes from the Vulkan note. I’m not sure if it applies here.

[2018-03-07 15:45] ianromanick commented on #23
At least "back in the day," drivers certainly made allocations decisions based on the initial binding of the buffer.  For example, the open-source driver for Intel i915 GPUs would allocate GPUs addressable memory for pixel buffers, but vertex buffers would go in system memory (see https://cgit.freedesktop.org/mesa/mesa/tree/src/mesa/drivers/dri/i915/intel_buffer_objects.c#n115).  I know that other

[2018-03-07 15:46] pdaniell-nv commented on #34
Assigned to @oddhack to modify the OpenGL 4.6 spec in the same way that was done for OpenGL ES 3.2 to remove the reference to "constant c" and use the proposed change in the comment above.

[2018-03-07 16:12] pdaniell-nv commented on #23
The full sentence from the spec discussing BindBuffer() is:

The proposed change is to make it:

[2018-03-07 16:14] pdaniell-nv commented on #23
Discussed in the WG meeting. We approve removing that clause from the spec. @oddhack to make the spec change.

[2018-03-07 16:21] pdaniell-nv commented on #15
@NicolBolas I updated the spec above to clarify the footnote to not reference "MultiDraw". This is actually more like the Vulkan one now. Does it look okay?

[2018-03-11 15:23] einsweniger opened #35 "[OpenGL] Inconsistencies and missing information regarding glGetProgramResourceiv"
I hope this is the correct place to report issues with the Core Spec.
I would have made a pull request with the proposed changes, but I can't figure out how the core spec PDF is generated. (I'm guessing it's not generated from the [Refpages](https://github.com/KhronosGroup/OpenGL-Refpages/blob/master/gl4/glGetProgramInterface.xml) as these are littered with typos :D)

Where are my issues:
Table 7.

[2018-03-11 15:31] einsweniger commented on #35
While I'm here :D :
I really dislike the Table 7.2 for `GetProgramResourceiv`, it's a little annoying to figure out which property is allowed on their respective interfaces. If it's possible, could we replace that with a matrix of [Property x Interface] with dots for allowed combinations? (in the style of p114 or maybe as an other table in the appendix)?

[2018-03-12 02:08] NicolBolas opened #36 "GL_MAX_SHADER_STORAGE_BLOCK_SIZE only limits the size of the block in GLSL."
`GL_MAX_SHADER_STORAGE_BLOCK_SIZE` is stated to be the limit that a storage block can be in a GLSL shader. However, because SSBOs can have variable size, it becomes possible to bind a range of a buffer that is larger than this size limitation.

So the question is, what is supposed to happen to the memory that exceeds this size? Can a shader using a runtime sized array access memory outside of the

[2018-03-23 02:12] Jiawei-Shao opened #37 "ES 3.2: Varying packing rules on geometry shader inputs/outputs"
Hi,

ESSL 3.2 SPEC provides an algorithm for varying packing on vertex shader outputs and fragment shader inputs (Chapter 12 Page 196 "Counting of Inputs and Outputs": This section applies to vertex shader outputs and fragment shader inputs.).  How about the inputs and outputs of other shaders? For example, should this algorithm also be applied for geometry shader inputs and outputs?

Thanks!

[2018-03-23 04:13] Jiawei-Shao commented on #37
@qjia7

[2018-03-28 15:36] pdaniell-nv commented on #37
We discussed this in the OpenGL/ES WG meeting today. We're leaning toward removing chapter 12 entirely, but we want to make sure this doesn't inadvertently affect any implementations. We'll resolve this inside Khronos.

https://gitlab.khronos.org/opengl/GLSL/issues/30

[2018-04-03 20:03] pdaniell-nv commented on #15
Assigned to @oddhack to make the spec change based on comment https://github.com/KhronosGroup/OpenGL-API/issues/15#issuecomment-370951171.

[2018-04-03 21:41] dgkoch commented on #36
WG discussed on 2018-03-28.
We believe the link error is only possible if the SSBO is statically sized to be bigger than GL_MAX_SHADER_STORAGE_BLOCK_SIZE. Ie if the last item in the SSBO is an unsized array, you wouldn't get a link-time failure for it.

We think there probably should be an error raised by BindBufferBase/Range if this size is exceeded (and perhaps similarly for some of the other bu

[2018-04-04 15:53] pdaniell-nv commented on #36
Discussed again today. We agreed that the spec does not define error checking of the bound buffer against the implementation limit for GL_MAX_SHADER_STORAGE_BLOCK_SIZE. We also noted that this is also true for other buffer bindings like UBOs where it is undefined if a buffer larger than GL_MAX_UNIFORM_BLOCK_SIZE is bound, and atomic counters, etc. A couple of IHVs looked at their implementation to

[2018-04-04 15:56] pdaniell-nv commented on #35
Discussed in the OpenGL/ES working group meeting today. We agreed the addition of "a single integer identifying" to the descriptions of BUFFER_BINDING, BUFFER_DATA_SIZE and NUM_ACTIVE_VARIABLES would be a positive change. This change would be required in both the OpenGL and OpenGL ES specs.

We also agreed to add the missing descriptions for NUM_COMPATIBLE_SUBROUTINES and COMPATIBLE_SUBROUTINES to

[2018-04-11 15:33] pdaniell-nv commented on #36
Although we decided last week that we wouldn't add new error checking to the specification, we did decided that it would be a good idea to improve this statement in the spec:

fail to link.

What we want to add is that if the non-variable-sized portion of the SSBO declared in the shader is larger than GL_MAX_SHADER_STORAGE_BLOCK_SIZE that should be a compile/link error since that would be easy for

[2018-04-18 15:15] johnkslang commented on #7
The specification is internally modified now to be explicit about allowing **readonly writeonly** to images, block members, and block level. Should see it at next release.

[2018-04-26 20:59] oddhack commented on #35
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

[2018-04-26 20:59] #35 closed, assigned to oddhack

[2018-04-26 21:00] oddhack commented on #34
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

[2018-04-26 21:00] #34 closed, assigned to oddhack

[2018-04-26 21:00] oddhack commented on #23
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

[2018-04-26 21:00] #23 closed, assigned to oddhack

[2018-04-26 21:00] oddhack commented on #19
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

[2018-04-26 21:00] #19 closed, assigned to oddhack

[2018-04-26 21:00] oddhack commented on #15
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

[2018-04-26 21:00] #15 closed, assigned to oddhack

[2018-04-26 21:02] oddhack commented on #9
The fixes identified by @pdaniell-nv will be in the next GL & ES spec updates, coming soon.

Note that we also use the terminology "upstream shader" earlier in the spec, referring to the vertex or tessellation shader feeding the geometry shader. The same terminology was previously used in e.g. the Points section, but I switched the latter usage to  the "last stage" terminology.

[2018-04-26 21:02] #9 closed, assigned to oddhack

[2018-04-26 22:56] oddhack commented on #31
Fixed in the next ES spec update, coming soon.

[2018-04-26 22:56] #31 closed, assigned to oddhack

[2018-04-27 02:08] oddhack commented on #30
This will be fixed in the upcoming update to the ES 3.2 spec. Also changed the formal parameter name to internalformat, to match GL, gl.xml, and the headers.

[2018-04-27 02:08] #30 closed, assigned to oddhack

[2018-04-27 02:13] oddhack commented on #28
The first error will be fixed in the upcoming ES 3.2 spec update.

[2018-04-27 02:13] #28 closed, assigned to oddhack

[2018-05-22 16:37] pdaniell-nv commented on #7
The GLSL/ESSL specs have been updated and released. Closing.

[2018-05-22 16:37] #7 closed, assigned to johnkslang

[2018-05-22 16:38] pdaniell-nv commented on #11
@oddhack Did this issue get addressed in the latest API spec update?

[2018-05-22 16:57] pdaniell-nv commented on #14
I believe this fix is still outstanding. Assigning @oddhack to pick this up for the next API update. The changes should be made to both OpenGL and OpenGL ES:

In "GL:7.13/ES:7.11 Shader Memory Access" of both specs, add the following:

[2018-05-23 07:15] jozefkucia opened #38 "ARB_gl_spirv: mapping of atomics"
The ARB_gl_spirv spec contains the following mapping:

The mapping seems to be inaccurate for `atomicCounterDecrement`. `atomicCounterDecrement` returns    the    value    resulting    from    the decrement operation while the `OpAtomicIDecrement` returns the original value.

[2018-05-23 15:26] pdaniell-nv commented on #38
@johnkslang to do some research on this then assign @dgkoch to make the extension spec update.

[2018-05-23 15:29] johnkslang commented on #38
From glslang generator number:

[code]

[2018-05-24 12:32] oddhack commented on #11
It did not. On the list for the next update (which, I'm thinking of trying to do one every month or so, if there's enough queued up to justify it - we waited a long time for the current updates).

[2018-05-29 12:22] dgkoch commented on #38
@jozefkucia in general the  "Mapping to SPIR-V" section isn't considered normative, but included to aid in understanding.  As @johnkslang noted, we've already accounted for these differences between GLSL/HLSL and SPIRV in the glslang producer.  I've also proposed a note in the extension spec to call this out:
https://github.com/KhronosGroup/OpenGL-Registry/pull/185

[2018-05-29 12:51] dgkoch commented on #36
Propose we replace the sentence (section 7.8 p149)

```If the amount of storage required for any shader storage block exceeds this limit, a program will fail to link.```

with:

``` If the amount of storage required for the fixed size portion of any shader storage block (as reported by BUFFER_DATA_SIZE) exceeds this limit, a program will fail to link.```

This applies to both GL and ES specificati

[2018-05-29 16:51] pdaniell-nv commented on #37
After discussion internally we decided that we can't remove this appendix since some implementations need it. The clarification we need to make is that the appendix only applies to the interface between the last vertex processing shader stage and the fragment shader. So when a geometry shader is present, it applies to the interface between the geometry shader and the fragment shader, and it does n

[2018-06-10 09:00] Tilka opened #39 "ARB_direct_state_access: typos in examples"
Example 1: restaure -> restore

Example 3: DSA code should be using glEnableVertexArrayAttrib, not glEnableVertexAttribArray.

[2018-06-12 20:44] pdaniell-nv commented on #39
Thanks for the issue report. Would you like to create a PR with the fixes?

[2018-06-15 08:01] #39 closed, assigned to Tilka

[2018-06-15 18:55] pdaniell-nv commented on #36
Suggestion approved by the OpenGL/ES working groups. Assigned to @oddhack to apply the change to the next spec updates.

[2018-06-26 16:51] pdaniell-nv commented on #38
This should be resolved now by https://github.com/KhronosGroup/OpenGL-Registry/pull/185. Closing.

[2018-06-26 16:51] #38 closed, assigned to dgkoch

[2018-07-06 02:33] Jiawei-Shao opened #40 "Layout of compute shader shared variables"
Hi,

Now OpenGL ES 3.2 SPEC does not define the layout of compute shader shared variables in the memory when validating GL_MAX_COMPUTE_SHARED_MEMORY_SIZE, will OpenGL(ES) SPEC define a default memory layout rule for compute shader shared variables like varying packing rules?

OpenGL Wiki mentions "OpenGL does not specify the exact mapping between GL types and shared variable storage, though you co

[2018-07-06 02:33] Jiawei-Shao commented on #40
@qjia7

[2018-07-12 21:58] pdaniell-nv commented on #40
Issue tracked internally here: https://gitlab.khronos.org/opengl/API/issues/88

[2018-09-13 09:13] sergiiromantsov opened #41 "OpenGL: laсk of specification for glRotated and 0-vector"
Hello,
in the Mesa we have got an issue (https://bugs.freedesktop.org/show_bug.cgi?id=100960).
Potential reason of that is: application Minecraft uses call glRotated(180, 0, 0, 0).
Unfortunately, i haven't found in the specification any definitions how to process 0-vector.
Please, could you point me if it exist?

With Windows-drivers and Nvidia's Linux driver application works as author expects.
L

[2018-09-20 20:45] pdaniell-nv commented on #41
glRotated is documented on page 499 of the OpenGL 4.6 compatibility spec (https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.compatibility.pdf). Are you saying the formula doesn't work with (0, 0, 0)?

[2018-09-21 09:27] pdaniell-nv commented on #41
We discussed this in a working group meeting and concluded that this content is attempting to use undefined behavior. Creating a normalized vector between the origin (0,0,0) and (0,0,0) will result in a divide by zero so to be useful for errant content implementations may choose to do something more helpful. We agreed it would be fine for implementation to do something useful for this undefined be

[2018-09-21 09:34] nvpbrown commented on #41
The fundamental problem here seems to be that glRotate wants to normalize the (x,y,z) vector, and normalizing (0,0,0) is ill-defined.  It appears that NVIDIA's implementation has a special case that normalizes zero vectors to (0,0,0).  If you don't have special-case logic in your implementation, I presume that you would end up with (NaN, NaN, NaN).

I worked through the math from the specification

[2018-09-21 11:09] sergiiromantsov commented on #41
Thanks for response.
Seems as a general solution it will be good to treat a magnitude as 1 if it was computed as 0.
Is it ok?

[2018-09-21 12:46] sergiiromantsov commented on #41
Or really optimize it to
cos(angle) * I
?....

[2018-10-03 15:54] nvpbrown commented on #41
@sergiiromantsov:  When you are talking about "treat a magnitude as 1" or "optimize it to", are you proposing that the specification guarantee this sort of behavior or that implementations treat corner cases in this manner?

I think the general consensus in the working group is that this behavior is ill-defined, where calling glRotate* with a (0,0,0) vector is an application bug that will have und

[2018-10-04 11:39] sergiiromantsov commented on #41
@nvpbrown: Hello, Pat. Thanks for your response. I understand that such
behavior will not be defined in specification, so mostly i meant treating
it in implementation. So would like to make compatible behavior of Mesa
with Nvidia and Windows drivers and i'm working on it (at this moment
preparing a piglit-test).

ср, 3 жовт. 2018 о 18:54 Pat Brown <notifications@github.com> пише:

[2018-10-04 14:20] nvpbrown commented on #41
@sergiiromantsov Sounds good, thanks.  Let us know if you discover anything interesting in this experiment.  All of my analysis came from a code inspection -- I didn't actually confirm my findings with a specific test.

Thanks,
Pat

[2018-10-04 16:37] pdaniell-nv commented on #41
@sergiiromantsov can we close this issue?

[2018-10-05 09:23] sergiiromantsov commented on #41
Probably, yes, at this moment.
Thanks

[2018-10-05 09:23] #41 closed, assigned to nobody

[2018-12-16 17:47] NicolBolas opened #42 "DSA queries for VAOs are incomplete."
GL 4.5/ARB_DSA has some oddities in how it accesses vertex array object data.

First, there's this, from the definition of `glGetVertexArrayIndexed`:

OK, fine... except that this function also takes `GL_VERTEX_BINDING_OFFSET`, which is supposed to be indexed by *binding index*, not attribute index. So `GL_MAX_VERTEX_ATTRIBS` is the wrong limit to use.

The other problem is that this API does not

[2018-12-17 01:10] NicolBolas opened #43 "Implicit derivatives, uniform control flow, and SPIR-V."
The SPIR-V specification has a number of definitions that deal with implicit derivatives. Let's start with [2.19: Derivatives](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#_derivatives):

The terms "derivative group" and "uniform control flow" [are defined as](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#_control_flow):

Put simply, implicit derivatives ar

[2018-12-17 20:12] pdaniell-nv commented on #42
Yikes, it does seems all this is not specified. FWIW the NVIDIA driver implements all the missing queries above. There must have been a disconnect between the GL_ARB_vertex_attrib_binding spec, EXT_dsa spec, ARB_dsa spec and the core spec.

Someone will need to figure out all the missing bits for OpenGL 4.6 to complete this specification.

[2019-01-25 11:43] baldurk opened #44 "Default values for VERTEX_BINDING_* state seem wrong"
In Table 23.4: Vertex Array Object State in the OpenGL 4.6 spec, the table lists the state for vertex bindings:

Get value|Type|Get Command|Initial Value|Description|Sec.
---------- | ---- | --------------- | ----------- | ------------ | ----
VERTEX_BINDING_OFFSET|16 × Z|GetInteger64i_v|0|Byte offset of the first element in data store of the buffer bound to vertex binding i|10.3
VERTEX_BINDING_STR

[2019-02-01 18:01] illiaSkif opened #45 "OpenGL 4.6: Multi sample texture always incomplete with integer internal format."
I investigate this issue(https://bugs.freedesktop.org/show_bug.cgi?id=109057) in mesa3d. When i try to figure out how to fix it i faced with self-contradictory points in OpenGL 4.6 specification. I can create  texture by
[code]

and internalformat can be integer(GL_R8I). After creating I can't  render  _from_  it because it always incomplete.

OpenGL 4.6 spec:

And  we can’t make it complete becau

[2019-02-13 15:13] asimiklit opened #46 "How binding points should be assigned when some array instances are eliminated by optimizer?"
I am working on a mesa issue:
https://bugs.freedesktop.org/show_bug.cgi?id=109532

This issue happens because the mesa assigns unexpected for a deqp test
the binding points for an ssbo array instances.

The issue explanation:
We have the following compute shader:

[code]

After compilation and linking mesa assigns the following binding points:
   BlockB[0] is eliminated
   BlockB[1] is eliminated

[2019-02-13 16:19] ianromanick commented on #45
After some old Khronos internal bugzilla archaeology (circa 2014), this should be covered by section 11.1.3.3 (Multisample Texel Fetches).  Basically, multisample textures ignore the sampler state, so the texture completeness problem is irrelevant.

That applies to rendering _from_ it.  I just noticed that the OP was talking about rendering _to_ the texture, and I haven't through through that yet.

[2019-02-14 16:46] NicolBolas opened #47 "Disposition of fragment shader `gl_PrimitiveID` in unusual circumstances"
The fragment shader definition for `gl_PrimitiveID` is as follows:

GLSL 4.6:

shader output, if a geometry shader is present. Otherwise, it is filled with the number of primitives
processed by the shader since the current set of rendering primitives was started.

OpenGL 4.6 is a bit more specific:

Let's assume that there is no GS present. The above says "the primitive ID counter is incremented a

[2019-02-14 16:51] NicolBolas commented on #47
It should also be noted that the Vulkan definition does not include any mention of the rasterizer. So when it says "is processed", that can only refer to what gets read into the system.

[2019-02-14 18:56] pdaniell-nv commented on #47
This issue looks just like an issue that was reported internally: https://gitlab.khronos.org/opengl/API/issues/105.

I'm sure the "processed by the rasterizer" part is wrong. We're discussing internally and I'll report back when we have a conclusion.

[2019-02-14 23:19] pdaniell-nv commented on #45
Thanks for digging that up Ian. The filter state doesn't apply when rendering to the texture so it shouldn't affect whether it's complete or not for rendering. In section 9.4.1 Framebuffer Attachment Completeness there is no mention of the sample state so perhaps we're fine.

[2019-02-14 23:24] pdaniell-nv commented on #44
We discussed this in the OpenGL/ES meeting yesterday and agree the defaults for VERTEX_BINDING_DIVISOR and VERTEX_BINDING_BUFFER should have been zero. Assigned to @oddhack to make the change.

[2019-02-15 22:00] pdaniell-nv commented on #46
I believe all buffer binding points should be consumed, regardless whether the array elements are used or not. This would be the behavior of least surprise to the developer. I didn't see any language that would indicate that unused elements should not be counted when assigning the element to the buffer binding point.

[2019-02-16 15:56] imirkin commented on #46
There's a slight corollary to this question... what if you had code like

`layout(packed) buffer BlockA { float a; } blockA[6];`

And then used elements 0 and 5 in the shader. And the program looked up the binding point for BlockA[0] -- would it be reasonable for the program to assume that BlockA[5]'s binding point is BlockA[0] + 5?

Basically ... should we only be doing this when there's an expli

[2019-02-18 08:07] illiaSkif commented on #45
I'm sorry I was wrong. The  problem  shows up when we read _from_ int MS texture. Thanks so  much for the investigation. The sequence of actions on which the problem appears is:
- Write int data to texture.
- Read from this texture by texelfetch.
- Map texture to ram by glGetTextureImage.

After that, I get an array filled with zeros, and not with the values that I wrote to the texture.

[2019-02-19 21:47] pdaniell-nv commented on #45
@illiaSkif  It's not clear to me if there is still a spec issue. Perhaps you're just hitting an implementation bug?

[2019-02-20 12:47] illiaSkif commented on #45
I think no, because the specification contains contradictions. We can create multisample texture with integer internal format. (specification  allows it) We have possibility  to draw from this texture (it is prohibited nowhere), but  I can’t do it because this texture always incomplete this is due to this texture always does not meet this condition of completeness:

It happens because by default `

[2019-02-26 19:23] pdaniell-nv commented on #42
Addressing the issue internally here: https://gitlab.khronos.org/opengl/API/issues/108

[2019-02-26 21:10] pdaniell-nv commented on #11
@oddhack Did this issue get addressed in the latest API spec update?

[2019-02-26 21:15] pdaniell-nv commented on #37
This was resolved in the latest ESSL spec here: https://www.khronos.org/registry/OpenGL/specs/es/3.2/GLSL_ES_Specification_3.20.html#counting-of-inputs-and-outputs

[2019-02-26 21:15] #37 closed, assigned to pdaniell-nv

[2019-02-26 21:17] pdaniell-nv commented on #40
This issue was resolved in the latest OpenGL and OpenGL ES specs:
- https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.core.pdf
  - section "19.1 Compute Shader Variables"
- https://www.khronos.org/registry/OpenGL/specs/es/3.2/es_spec_3.2.pdf
  - section "17.1 Compute Shader Variables"

[2019-02-26 21:17] #40 closed, assigned to pdaniell-nv

[2019-02-26 21:30] pdaniell-nv commented on #45
Putting an exception for the initial values of TEXTURE_MIN_FILTER and TEXTURE_MAG_FILTER to be NEAREST for multisample textures makes sense to me. It would be a fairly easy spec change to section "8.22 Texture State and Proxy State" to include it in the exceptions, like there already is for rectangle textures.

[2019-02-27 07:23] sergiiromantsov commented on #45
Hello, Piers Daniell.
Nice to hear it.
Could we treat and implement it as a final decision?
And when we would expect a specification update?

вт, 26 лют. 2019 о 23:30 Piers Daniell <notifications@github.com> пише:

[2019-02-27 16:18] ianromanick commented on #46
The third question is, in either the explicit or implicit case, can the bindings associated with the unused elements be used for other things?  In the `layout(packed, binding=0)` case, could binding 1 be used for something else?

[2019-02-27 16:29] ianromanick commented on #46
I think this expectation is definitely valid.  Anything else is madness.  The application has statically assigned these locations, and it has expectations built into its code.  The GLSL compiler / linker may be able to determine that some array element is unused based on advanced optimizations... changing the bindings of the remaining elements can only cause problems.

I think I've answered my own

[2019-02-27 19:03] pdaniell-nv commented on #45
Unfortunately we didn't get to this issue during our OpenGL meeting today. I don't expect there to be an objection from the working group for this and you're safe to update your implementation and make progress. An updated spec will probably happen mid 2019.

[2019-03-01 00:04] pdaniell-nv commented on #46
We discussed this in the OpenGL/ES working group meeting and agreed that eliminating unused elements from the interface block array is not desirable. There is no statement in the spec that this takes place and it would be highly implementation dependent if it happens. If the application has an "interface" in the shader they need to match up with the API it would be quite confusing to have the bind

[2019-03-01 00:04] #46 closed, assigned to nobody

[2019-03-27 16:43] ianromanick commented on #45
Here is all of the spec and bug archaeology that I have performed this morning...

Originally the GL_ARB_texture_multisample spec and section 2.11.12 (Shader Execution) of the OpenGL 4.2 spec said:

I guess the expectation is that after calling `glTexImage2DMultisample` an application would have to change the filter mode to `GL_NEAREST`.  That's a bit broken because section 8.10 (Texture Parameter

[2019-03-28 07:28] oddhack commented on #14
Fixed internally - this will show up in the next public spec update.

[2019-03-28 07:28] oddhack commented on #36
Fixed internally - this will show up in the next public spec update.

[2019-03-28 07:39] oddhack commented on #44
Fixed in gitlab, closing. Will go out with the next public spec update.

[2019-03-28 07:39] #44 closed, assigned to oddhack

[2019-03-28 10:15] oddhack commented on #42
Fixed internally - this will show up in the next public spec update.

[2019-04-03 13:06] asimiklit opened #48 "Are there restrictions of 24-bit unused field usage of pixels of FLOAT_32_UNSIGNED_INT_24_8_REV texture?"
I am working on mesa issue:
https://bugs.freedesktop.org/show_bug.cgi?id=110305

There is an issue with a FLOAT_32_UNSIGNED_INT_24_8_REV.
OpenGL spec "8.4.4.2 Special Interpretations" is saying:
`the second word contains a packed 24-bit unused field, followed by an 8-bit index`

for example:
1. Test writes stencil value `0x00000088` to each pixel of a texture
2. Test uploads it to opengl using `gl

[2019-04-10 15:11] gnl21 commented on #45
I agree with the principle of what @ianromanick is saying, although I find the idea of ignoring the filter state to be a bit confusing (is an ignored filter state functionally the same as NEAREST, or NEAREST_MIPMAP_LINEAR, etc?). Perhaps we should just add the phrase "Multisample textures are never considered to require mipmaps"?

[2019-04-11 21:57] pdaniell-nv commented on #48
This sounds like a test bug if it expects zeros in the unused portion of the bitfield. The value of those unused bits is undefined and they should be ignored.

Yes, they should be ignored by the implementation.

Unspecified, the app should ignore them.

[2019-04-12 06:10] asimiklit commented on #48
Thanks a lot for clarification.

[2019-04-12 11:14] oddhack commented on #48
@asimiklit can we close the issue, or are there additional questions? Thanks.

[2019-04-16 08:00] asimiklit commented on #48
Think yes, I don't have additional questions, everything is clear for me now) Thanks.

[2019-04-16 10:18] #48 closed, assigned to nobody

[2019-04-17 20:39] pdaniell-nv commented on #45
Assigned to @oddhack to update the OpenGL and OpenGL ES specs as suggested above. Namely:

Changing this bullet in section 8.17 (Texture Completeness):
* The minification filter requires a mipmap (is neither NEAREST nor LINEAR), and the texture is not mipmap complete.

to read:

* The minification filter requires a mipmap (is neither NEAREST nor LINEAR), and the texture is not mipmap complete. Mul

[2019-04-18 19:42] NicolBolas opened #49 "Explicit uniform location and cross-stage uniforms."
The GLSL standard says this:

This is (part of) the rule that allows us to merge `uniform` variables across shader stages within a program. So if you declare a uniform with matching name and type in two stages, then both stages are accessing the same uniform.

Then ARB_explicit_uniform_location came along and added this statement:

The meaning of this line *appears* to be that, if you use explicit

[2019-05-08 15:51] null77 opened #50 "Clarification regarding binding on non-consecutive fragment output array locations"
This mostly pertains to the ES specs. I haven't looked at desktop as closely.

EXT_blend_func_extended adds new entry points glBindFragDataLocation* for associating a fragment output with a particular output location. Is it expected for a program to link with non-consecutive locations for array elements? Or to fail link? Or is either result OK?

For example:

[code]

Shannon Woods looked into it i

[2019-05-08 16:14] pdaniell-nv commented on #50
Each element of the array is identified separately and so it is okay that they are bound to non-consecutive locations.

[2019-05-08 18:28] pdaniell-nv commented on #49
Thanks for reporting this issue. I don't think the second quoted spec language is new. It appears in the original extension [GL_ARB_explicit_uniform_location](https://www.khronos.org/registry/OpenGL/extensions/ARB/ARB_explicit_uniform_location.txt) and also in [GLSL 4.30](https://www.khronos.org/registry/OpenGL/specs/gl/GLSLangSpec.4.30.pdf).

I think what it's trying to say is that you can't have

[2019-05-09 03:38] NicolBolas commented on #49
It's the first one that's new. It's the "any location specifiers" bit that was a recent addition. I should have made that more clear in my initial post.

But that's the main issue. If the first quote doesn't exist, then the meaning of the second quote is clear and unequivocal: you cannot have two uniforms in the same program with the same location, *period*. As you pointed out, that statement has

[2019-05-14 20:30] pdaniell-nv commented on #49
Oh sorry. It seems like that "any location specifiers" part comes as a result of the merging of the GLSL and ESSL sources when we converted over to asciidoc. We went through an exercise of making the source common between GLSL and ESSL where possible. In this case (internally https://gitlab.khronos.org/opengl/GLSL/merge_requests/8) it appears the "any location specifiers" was added to GLSL from ES

[2019-05-15 14:56] NicolBolas commented on #49
@pdaniell-nv

If that's the desired behavior, then the quote in your comment should make that quite clear.

[2019-05-18 01:50] MarkCallow opened #51 "POINT clipping inconsistent across OpenGL implementations"
The OpenGL 4.6 specification says, w.r.t point clipping:

This gives non-pop-free clipping. It has been [reported](https://github.com/KhronosGroup/WebGL/issues/2888) that there are many implementations that have pop-free clipping. If it is intended to allow this, the specification should be updated to explicitly allow it. If not, the CTS should be fixed to fail implementations with pop-free clippi

[2019-05-22 21:39] pdaniell-nv commented on #51
This issue has been discussed on and off for years. For those with access, you can see a discussion here: https://www.khronos.org/members/login/bugzilla/show_bug.cgi?id=10698.

I think updating this language was considered for OpenGL, but it never got done. I agree the spec should allow pop-free clipping, since that would be a more desirable behavior, but not all hardware can do it. Given the hist

[2019-05-23 18:18] NicolBolas opened #52 "`bufSize` parameter inconsistencies."
Most parameters named ` bufSize` specify the size of a buffer in bytes. However, a few parameters do not; they instead represent the count of items (typically integers) in a buffer. These functions include:

* `glSynciv`
* `glGetInternalformativ/i64v`
* `glGetProgramResourceiv` (`Name` is fine, since it is the size in bytes of the string's storage)

There may be more.

The names of these `bufSize`

[2019-05-23 19:24] MarkCallow commented on #51
The linked issue is for OpenGL ES and mostly about rasterizing fragments outside the viewport rather than vertex-level clipping which is consistent across OpenGL ES implementations. It was never resolved.

WRT vertex-level clipping, I think the OpenGL spec. should be changed to reflect that both pop-ful and pop-free are allowed. It is regrettable that not all implementations can do pop-free. The s

[2019-05-29 15:02] pdaniell-nv commented on #52
Discussed briefly in the OpenGL/ES meeting today and we agree that "bufSize" is not a good name for this parameter for these functions. Perhaps "count" would be better.

We're happy to fix this. We need to come up with a list of functions that needs to be fixed. @NicolBolas do have a list in mind you can share? Thanks.

[2019-06-03 16:06] NicolBolas commented on #52
I believe the following is a complete list of functions where `bufSize` is used and it pertains to an array count rather than a byte count:

glGetInternalformatSampleivNV
glGetInternalformati64v
glGetInternalformativ
glGetProgramResourcefvNV (also, this doesn't have a `len` attribute in the gl.xml file)
glGetProgramResourceiv
glGetSynciv
glGetSyncivAPPLE
glQueryResourceNV
glVDPAUGetSurfaceivNV

Al

[2019-06-05 15:26] NicolBolas opened #53 "Layout qualifiers on formal parameters for image load/store"
GLSL has a pretty strong statement that layout qualifiers are not allowed on formal parameters.

That seems pretty ironclad. However, the GLSL specification has several places in it that implies strongly that image variables can have format layout qualifiers:

Note that there is no statement exempting parameters, which are still (I think?) variable declarations.

Furthermore:

That too strongly im

[2019-06-05 15:32] jeffbolznv commented on #53
See https://github.com/KhronosGroup/GLSL/issues/57. I think it was left as "You currently can't use layouts on function parameters, but somebody could write an extension to add it".

[2019-06-24 10:06] tsuoranta opened #54 "Typo in [OpenGL ES] GetUniformIndices() equivalent code"
Search for `GetUniformIndices` in OpenGL ES 3.2 Specification (February 2, 2019), hit 1/2:
Section 7.6. Uniform variables, page 105, second last code section is missing closing parenthesis before last semicolon.
`for (int i = 0; i < uniformCount; i++) {
uniformIndices[i] = GetProgramResourceIndex(program, UNIFORM, uniformNames[i];
}`
This issue does not appear in OpenGL 4.6 specification.

[2019-06-25 20:07] pdaniell-nv commented on #53
Closing since this is covered by KhronosGroup/GLSL#57.

[2019-06-25 20:07] #53 closed, assigned to nobody

[2019-06-25 20:27] nvpbrown commented on #50
I personally don't think this example should be legal and that *array elements* should not be addressable via BindFragDataLocation and similar APIs.

If this example is legal, shader code like:

  arrayOutput[dynamically_computed_index] = value;

would have to turn into

  switch (dynamically_computed_index) {
  case 0:    generic_output_5 = value; break;
  case 1:    generic_output_3 = value; bre

[2019-06-25 20:31] pdaniell-nv commented on #49
A refinement of my proposed change in https://github.com/KhronosGroup/OpenGL-API/issues/49#issuecomment-490598572 to include arrayness and structs:

[2019-06-26 19:50] pdaniell-nv commented on #54
Yeah, it would be nice to fix this. @oddhack could you fix this in your next API update. Thanks.

[2019-06-26 20:56] pdaniell-nv commented on #52
I have made a PR with the XML changes here. However, that shouldn't be merged until the specs have also been updated with the new names. @oddhack Could you update the OpenGL and OpenGL ES specs with the parameter name changes to core functions above? Thanks.

[2019-07-04 09:51] tsuoranta opened #55 "Typo in [OpenGL] [OpenGL ES] stuctures"
One instance of `stuctures` in both OpenGL and OpenGL ES specification. Should be `structures`.

[2019-07-09 19:46] pdaniell-nv commented on #55
Assigned to @oddhack to make the trivial fix to the API specs.

[2019-07-09 19:53] pdaniell-nv commented on #50
Discussed in the 2019-06-26 OpenGL/ES meeting and we agreed the spec needs to be clarified to state that the whole array is bound and you can't bind each element. SW has an AI to investigate the OpenGL ES spec and extensions and propose a fix.

[2019-07-16 12:01] johnkslang commented on #49
This is now published in Rev. 7 of GLSL 4.60, and Rev. 6 of ESSL 3.20.

[2019-07-16 12:01] #49 closed, assigned to pdaniell-nv

[2019-07-29 11:51] tsuoranta opened #56 "Binding layout qualifier not mentioned for initial value of uniform buffer binding in ES 3.1 and ES 3.2 [OpenGL ES]"
OpenGL ES 3.1 and 3.2 specifications do not contain language about layout qualifier for initial value of uniform buffer bindings. That language is present in OpenGL 4.6 section 7.6.3:

Meanwhile, OpenGL ES 3.1 and 3.2 section 7.6.3 just say initial value is always zero:

[2019-08-07 17:08] pdaniell-nv commented on #56
Discussed in the OpenGL/ES meeting today. We agreed to copy the OpenGL 4.6 language to the OpenGL ES 3.2 spec. Assigned to @oddhack to make the change.

[2019-08-08 12:32] tsuoranta commented on #56
That sounds great, thanks!
What about OpenGL ES 3.1?
According to https://developer.android.com/about/dashboards OpenGL ES 3.1 has market share around 13.6%.
Is it reasonable for a developer to expect also OpenGL ES 3.1 to behave in this matter the same as OpenGL ES 3.2 / OpenGL 4.6?

[2019-08-08 15:52] pdaniell-nv commented on #56
We always apply bug fixes to the latest API version and don't typically back port them to older versions. Yes it's reasonable for developers to expect OpenGL ES 3.1 to behave like this since this was a spec bug.

[2019-08-09 06:45] greggman opened #57 "POINT clipping in implementation don't match the spec"
AFAICTin the OpenGL 4.6 spec if the viewport is smaller than the window/framebuffer, a point drawn near the edge of the viewport who's point size bleeds outside the viewport is supposed to be rendered

![](https://i.stack.imgur.com/L8ezt.png)

The spec seems to make it clear in section 13.7 only vertices (the center of a point) are clipped by the viewport settings. The square drawn around that poi

[2019-08-12 15:51] illiaSkif commented on #45
The proposed update of the specification doesn't fix the issue I described.
In my  case the cause of texture incompleteness is a combination of:

If I correctly understand your reasoning  this part of the spec should be changed to:

[2019-08-20 20:40] pdaniell-nv commented on #57
This issue is related to this one https://github.com/KhronosGroup/OpenGL-API/issues/51 also filed recently.

This was discussed a while ago and the OpenGL ES working group agreed that it is undesirable behavior for fragments outside of the viewport to be rendered. We were going to tighten the spec language to say point and line fragments outside of the viewport must be discarded. I don't think tha

[2019-08-28 22:38] pdaniell-nv commented on #51
I started looking into the wording required to update the OpenGL spec to allow both pop-free and non-pop-free behavior by comparing what it currently states to OpenGL ES. OpenGL ES currently says:

It never states what the "near and far clip planes" are. Does it mean the user clip planes, but OpenGL ES doesn't support that. Does it mean the "clip volume", which it defines earlier, but then it woul

[2019-08-28 23:40] MarkCallow commented on #51
@pdaniell-nv, take a look at Khronos Bugzilla #10698 which, referring to the language you quoted, says:

So it seems the intention then was pop-free clipping to the viewport. There was an earlier proposal for pop-free clipping against the clip volume which said:

I don't recall and have not done sufficient archaeology to determine why that proposal was not adopted.

[2019-08-29 10:13] tsuoranta opened #58 "MAX_SAMPLES listed in framebuffer dependent state table [OpenGL ES]"
In OpenGL ES 3.2, MAX_SAMPLES is listed in Table 21.56: Framebuffer Dependent Values.
MAX_SAMPLES should be listed in a table for implementation dependent values, ideally together with MAX_COLOR_TEXTURE_SAMPLES and others, like OpenGL 4.6 core does, Table 23.69: Implementation Dependent Values (cont.)

[2019-08-29 10:30] tsuoranta opened #59 "OpenGL ES 3.1 minimum value for Max Fragment Uniform Vectors? [OpenGL ES]"
OpenGL ES Shading language 3.10 section 7.2 says gl_MaxFragmentUniformVectors has value of at least 224.
OpenGL ES 3.1 table 20.44 says MAX_FRAGMENT_UNIFORM_VECTORS has value of at least 256.
What is the minimum value?

[2019-08-29 10:37] tsuoranta commented on #59
Same issue with max compute uniform components (GLSL ES 3.10 says 512, GL3.1 says 1024).

[2019-08-29 17:28] pdaniell-nv commented on #51
Yes, I'm not disputing that the intent of OpenGL ES is to require pop-free clipping. My concern was about the language talking about "near and far clip planes", which aren't defined anywhere. I suspect it means "user clip planes", but I don't think OpenGL ES has user clip planes. So perhaps that entire sentence just needs to be discarded for OpenGL ES?

[2019-08-29 19:02] MarkCallow commented on #51
I also don't think OpenGL ES has user clip planes. Section 2.13 of ES 2.0 (going back to when the previously quoted language was introduced) "Primitive Clipping" talks about near and far clip planes. I agree there is no strict definition but it seems logical that they are the front and back of the viewing frustum, i.e  -w<sub>c</sub> and w<sub>c</sub> on the z axis.

[2019-09-04 17:10] pdaniell-nv commented on #58
Discussed in the OpenGL/ES meeting today. We agreed this is a bug and the fix to the OpenGL ES 3.2 spec is trivial. Assigned to @oddhack to make the change with the next OpenGL ES 3.2 spec update.

[2019-09-04 17:12] pdaniell-nv commented on #59
Discussed in the OpenGL/ES meeting. We believe this is fixed in the latest OpenGL ES 3.2 and ESSL 3.2 specs. We don't plan to propagate the fix to the older specs.

[2019-09-04 17:37] pdaniell-nv commented on #51
Discussed in the OpenGL/ES and cleared up my confusion regarding the near/far terminology.

So this line:

Should be changed to this for OpenGL:

I didn't want to add any commentary about which of the two behaviors is desirable since that would be unfair to implementations that can't do pop-free clipping.

[2019-09-17 20:16] #59 closed, assigned to nobody

[2019-09-18 15:01] pdaniell-nv commented on #51
During the OpenGL/ES joint working group meeting today we approved the proposed change above to the OpenGL spec. Assigned to @oddhack to make the change.

[2019-09-20 23:46] oddhack commented on #45
@pdaniell-nv I've made this change for the queued-up spec updates, but in light of @illiaSkif's most recent comment, it may not close this issue - can the WG revisit?

[2019-09-21 01:12] oddhack commented on #11
I have queued up some language for the next spec update, which adds a "Copyable" column to the compressed format table marked YES for everything except EAC/ETC2 formats, then adds errors for TexImage* and CopyTexImage2D if internalformat is one of the formats in that table marked with NO. Because of the way the SubImage language is written, it validates the internal format of the target texture in

[2019-09-25 15:22] NicolBolas opened #60 "Are query objects container objects?"
Chapter 5 reads:

pipeline, query, transform feedback, and vertex array objects. Such objects are
called *container* objects and are not shared.

This is strange for several reasons:

1. Query objects don't actually contain references to other objects.

2. Section 2.6.12 does not say that Query objects are container objects. However, the sections in 2.6 that cover the other container objects *expl

[2019-09-27 21:59] pdaniell-nv commented on #45
I think the queued-up spec update looks okay. @gnl21 can you check the matches your suggestion? Maybe my proposal puts it in the wrong place.

My intent was to state that multisample textures don't have mipmaps so the filters would always just be NEAREST.

[2019-09-30 13:53] gnl21 commented on #45
I've had a look at the update and I think it does match my suggestion. If I were to make the suggestion again then I'd probably prefer to say:

the texture is not a multisample texture and it is not mipmap complete.

because I think it reads a bit more easily, but what we have is also fine.

I agree with @illiaSkif that this only partially addresses the issue, and we should add a similar clause to

[2019-10-02 15:07] pdaniell-nv commented on #45
Discussed in the OpenGL/ES meeting today. We agreed @gnl21's proposed change is an improvement. @oddhack could you update the pending spec updates with this suggestion?

[2019-10-02 18:28] pdaniell-nv commented on #60
You're probably right this is why the spec has this error. Query objects are not container objects and are not shareable. I think the fix is to remove "query" from the list of container objects in chapter 5.

[2019-10-15 17:37] pdaniell-nv commented on #57
To make progress with this issue we first need to write a CTS test (https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/1961) that verifies no line or point fragments are rasterized outside of the viewport. When we are confident all affected implementations implement this, or can implement this, then we'll update the API spec to mandate it. Currently we're waiting on the CTS to be written.

[2019-10-16 13:37] oddhack commented on #45
I'm unclear on what @gnl21 proposes here. Is the "and the texture is not multisample" clause supposed to be added following the "Any of" bullet list? Is that the only change? N.b. if we're going to adopt "and the texture is not multisample" clause here, I'd also do it in the minification filter bullet, above, as @gnl21 suggests. Otherwise the two adjacent clauses are annoyingly inconsistent phrasi

[2019-10-16 13:49] gnl21 commented on #45
Yeah, sorry, I wasn't very clear. I was suggesting that we add the clause following the "Any of" sub-bulleted list. I think that what we want for that bullet overall is: (Any of sub-bullets 1,2,3) && not multisample && (either mag or min filter is incorrect). Does that make sense?

[2019-10-16 13:55] oddhack commented on #45
Yes, thanks. Will do, and we can publish a spec update shortly thereafter.

[2019-10-16 15:30] pdaniell-nv commented on #60
Assigned to @oddhack to pick up the proposed fix above in the next round of API spec updates.

[2019-10-30 16:22] #52 closed, assigned to oddhack

[2019-11-01 07:13] oddhack commented on #60
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:13] #60 closed, assigned to oddhack

[2019-11-01 07:14] oddhack commented on #58
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:14] #58 closed, assigned to oddhack

[2019-11-01 07:15] oddhack commented on #56
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:15] #56 closed, assigned to oddhack

[2019-11-01 07:15] oddhack commented on #55
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:15] #55 closed, assigned to oddhack

[2019-11-01 07:16] oddhack commented on #54
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:16] #54 closed, assigned to oddhack

[2019-11-01 07:16] oddhack commented on #51
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:16] #51 closed, assigned to oddhack

[2019-11-01 07:18] oddhack commented on #11
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:18] #11 closed, assigned to oddhack

[2019-11-01 07:18] oddhack commented on #14
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:18] #14 closed, assigned to oddhack

[2019-11-01 07:19] oddhack commented on #36
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:19] #36 closed, assigned to oddhack

[2019-11-01 07:21] oddhack commented on #42
Fixed in the 2019-10-22 spec updates (hopefully - this was a fairly complex issue, please check).

[2019-11-01 07:21] #42 closed, assigned to oddhack

[2019-11-01 07:22] oddhack commented on #45
Fixed in the 2019-10-22 spec updates.

[2019-11-01 07:22] #45 closed, assigned to oddhack

[2019-11-29 16:14] oddhack opened #61 "Need WG signoff on OpenGL-Refpages pull 74"
@pdaniell-nv @johnkslang please confirm https://github.com/KhronosGroup/OpenGL-Refpages/pull/74 fixes the corresponding issue. I'd have tagged you on that repo but the membership isn't setup to allow it.

[2019-12-02 22:11] pdaniell-nv commented on #61
That fix looks good to me. Thanks.

[2019-12-03 05:13] oddhack commented on #61
Merged.

[2019-12-03 05:13] #61 closed, assigned to johnkslang, pdaniell-nv

[2019-12-25 16:53] sigexp opened #62 "Ambiguity in dealing with pixel storage modes on compressed textures"
Currently, section 8.7 of the specs reads:

![Fig 1 - Section 8.7 of the spec](https://user-images.githubusercontent.com/10928134/71448045-70f8d500-273f-11ea-84f1-70672a063a09.png)

There is an ambiguity on how many rows should be skipped after obtaining the first image. *"the remaining `UNPACK_IMAGE_HEIGHT / b_h`  rows"* might be read in several ways:

- *remaining* in regard to the point before

[2020-01-07 18:29] pdaniell-nv commented on #62
Shouldn't the pointer (red star) on the layer 0 image be on the left side of the green rectangle rather than the right? That would obey the "without advancing the pointer" part of the quoted spec.

But to answer your question, I believe the pointer would be advanced by (IMAGE_HEIGHT - height) to get to the next layer. It's possible there are implementation bugs here, maybe due to lack of CTS cover

[2020-01-07 19:16] werman commented on #62
Since it's me who made the picture in question, here is my take:

(Starting point is assumed to be on the bottom left, just to disambiguate it for anyone who is reading this.)

I think the pointer will be just over the top left of the sub-image (on the next row) since after the reading of the last sub-image's row "after which the pointer is advanced by `k` elements" will be applied.

Then, is the

[2020-01-08 15:49] pdaniell-nv commented on #62
Do you have a specific spec language change in mind to clarify this? We would be happy to review and apply to the next spec update.

Also, would you mind posting a CTS issue [here](https://github.com/KhronosGroup/VK-GL-CTS) describing the clearly missing CTS test coverage that needs to be added to verify this case. We'll hopefully get that fixed soon so implementations can fix their bugs.

Inciden

[2020-01-09 15:35] sigexp commented on #62
Sure, we'll come up with a more explicit version and will suggest a change soon.

https://github.com/KhronosGroup/VK-GL-CTS/issues/184

We have not tested the non-compressed cases. Moreover, the only test we've found that deals with pixel storage modes for 3D images is CTS's `teximage3d_pbo.*`, which doesn't even test the resulting image — just checks for errors. So, there is a high chance that th

[2020-01-09 16:39] sigexp commented on #62
From section 8.5 of the spec:

![image](https://user-images.githubusercontent.com/10928134/72084501-45174b00-330c-11ea-8e7d-2d0a9419db02.png)

I think, this implies that if a pack of consecutive layers might be seen as a cuboid, we indeed can select a subcuboid from it using pixel storage modes.

[2020-01-13 12:40] sigexp commented on #62
@pdaniell-nv , As to the spec change, here is our suggestion:

Replace this part of section 8.7:

with following:

This should make it more clear, that the pack of consecutive layers is treated as a solid 3D cuboid (with layers being exactly adjacent to each other, according to the section 8.5). This way the "selecting a subcuboid" abstraction holds.

[2020-01-13 23:15] pdaniell-nv commented on #62
Thanks. We'll review this in our next OpenGL/ES working group meeting.

[2020-01-22 18:14] pdaniell-nv commented on #62
Discussed in the OpenGL/ES meeting and we approve the proposed clarification to the OpenGL spec. @oddhack please queue up this change for your next spec update. Thanks.

[2020-02-04 12:20] tsuoranta opened #63 "OES_sample_variables extension incorrect use of #extension"
OES_sample_variables says:

Meanwhile, my intrepretation of ESSL 3.00 is that ` : <behavior>` must always follow.

[2020-02-04 12:24] tsuoranta opened #64 "Extension EXT_primitive_bounding_box name string has white space"
Originally filed to https://github.com/KhronosGroup/OpenGL-Registry/issues/372 but I suppose this is strictly speaking OpenGL-API issue.

[code]

It is unexpected that there is space in the name string. I suppose this is just a typo, and `GL_EXT_primitive_bounding_box` is the intended name.

[2020-02-11 17:52] pdaniell-nv commented on #63
Yes, this is wrong. Will you propose a PR to fix it?

[2020-02-11 17:53] pdaniell-nv commented on #64
Yes, definitely a typo. Will you propose a PR to fix it? Thanks.

[2020-02-11 17:55] pdaniell-nv commented on #64
Oh never mind. I see this is addressed in https://github.com/KhronosGroup/OpenGL-Registry/issues/372. Closing.

[2020-02-11 17:55] #64 closed, assigned to tsuoranta

[2020-03-27 16:29] cubanismo opened #65 "Ambiguous requirement for non-zero indirect buffer object in core profile"
Section 10.3.11 of the OpenGL 4.6 spec defines "Indirect commands in Buffer Objects", or the GL_DRAW_INDIRECT_BUFFER/GL_DISPATCH_INDIRECT_BUFFER buffer targets.  It refers readers to section 10.3.9 for general properties of the mechanism.  Section 10.3.9 notes  behavior is undefined if buffer object zero is bound to an enabled array at draw time, but it is not clear from the language in section 10

[2020-03-27 16:30] cubanismo commented on #65
Note this issue was pointed out by a developer here: https://forums.developer.nvidia.com/t/gldrawelementsindirect-throws-zero-buffer-bound-to-gl-draw-indirect-buffer/117307

The NVIDIA driver currently returns GL_INVALID_OPERATION for this case.

[2020-04-02 21:08] emersion opened #66 "[OpenGL ES] NV_pixel_buffer_object doesn't define GL_STREAM_READ"
OpenGL ES 2.0 core only defines `GL_STREAM_WRITE`. `NV_pixel_buffer_object` advertises that it allows "Asynchronous glReadPixels". The code examples use `GL_STREAM_READ`. However including both `<GLES2/gl2.h>` and `<GLES2/gl2ext.h>` isn't enough to get access to this symbol necessary for creating a PBO that can be read from. No other GLES2 extension seems to define it.

Is this an oversight?

cc @

[2020-04-02 21:19] pow2clk commented on #66
@mheyer32 is the contact on this spec now. These were pretty heavily "inspired" by the desktop specs. It's entirely possible that the enum was inadvertently copied from there.

[2020-04-02 22:19] nvmheyer commented on #66
@nvmheyer would be me with NVIDIA hat on :-)

This is certainly a mistake in the NV_pbo extension specs (which are in fact based off the desktop extension spec language) to use GL_STREAM_READ. The other example uses GL_STREAM_DRAW.

One could argue that the EXT_map_buffer_range extension should have introduced new usage hints as it allows reading back from buffers for the first time in GLES.

This

[2020-04-02 22:30] emersion commented on #66
Ah, indeed, it seems like this is just a hint and that it doesn't constrain the actual usage. It's unfortunate that there's no "no hint" enum value.

Mesa also ignores the hint in this situation: https://gitlab.freedesktop.org/mesa/mesa/-/blob/e5339fe4a47c242693962c9f90bbab8b74935cba/src/mesa/state_tracker/st_cb_bufferobjects.c#L248

Should we somehow fix the examples?

Indeed. I'm not sure if/how

[2020-04-16 07:08] YunHsiao opened #67 "std140 layout doesn't specify the total memory consumed"
All specifications regarding `std140`, a supposed-to-be cross vender memory layout, seems to have no mentioning of how much memory should be allocated in total say for a given UBO (i.e. `UNIFORM_BLOCK_DATA_SIZE`) like this:
[code]
And in fact there has already been different interpretations over implementations, see the discussion [here](https://bugs.chromium.org/p/chromium/issues/detail?id=988988

[2020-04-16 07:40] oddhack commented on #67
Moving to API repo.

[2020-04-16 17:07] pdaniell-nv commented on #67
I believe the `std140` definition is only concerned with the placement of elements in memory, it does not dictate how much space the whole block takes up. The query to `GL_BUFFER_DATA_SIZE` is implementation-dependent. From the OpenGL ES 3.2 spec (page 88):
[code]

Different implementations may have different padding requirements, which is why this value might vary between implementations.

[2020-04-17 02:33] YunHsiao commented on #67
Oh my mistake, apologies. Thanks for clarifying.

[2020-04-17 02:33] #67 closed, assigned to pdaniell-nv

[2020-04-21 19:11] pdaniell-nv commented on #66
@nvmheyer Would you mind creating a PR to fix this minor issue? Thanks.

[2020-04-24 12:34] tsuoranta opened #68 "BindVertexArray error language allows GenVertexArrays but not CreateVertexArrays"
OpenGL 4.6 (Core Profile, October 22, 2019) BindVertexArray error language says:

I propose:

An INVALID_OPERATION error is generated if array is not zero or a name returned from a previous call to _either GenVertexArrays or CreateVertexArrays_, or if such a name has since been deleted with DeleteVertexArrays.

[2020-04-26 09:09] george-tsiros opened #69 "DrawElementsInstanced, OpenGL 4.6 core, October 22, 2019 pdf"
pg 371:

`
DrawElementsInstancedBaseInstance(mode, count, type, indices,
instancecount, 0, 0);`

should read:

`
DrawElementsInstancedBaseInstance(mode, count, type, indices,
instancecount, 0);`

[2020-05-05 04:48] oddhack commented on #69
Thanks! We'll fix this in the next spec update (which probably won't be in the near future, though).

[2020-05-05 20:33] pdaniell-nv commented on #65
@cubanismo there is already this in the error section on page 367 of the OpenGL 4.6 core spec:

Is that enough?

[2020-05-06 18:17] pdaniell-nv commented on #68
Sounds good. Assigned to @oddhack to incorporate into the next spec update.

[2020-05-30 20:29] erik-kz opened #70 "[OpenGL] Typo in glMapBufferRange spec"
In the description of GL_MAP_PERSISTENT_BIT fashion is misspelled as fassion.

[2020-06-30 13:39] evgenKh opened #71 "glTexImage behavior when LOD higher than expected by dimensions"
Hi,
I'm looking into issue when 'glTexImage' functions are called with 'level' param higher we expect based on LOD0 texture size, and problems consequent from it.

GL 4.6 spec '8.14.3 Mipmapping' defines:
1)each LOD has a resolution lower than the previous one,
2)there is X LODs in a mipmap, where X=floor(log2(max(width, height, depth)))+1

In case of 'glTexStorage' functions, GL_INVALID_OPERATION

[2020-07-07 18:18] pdaniell-nv commented on #70
What places misspell fashion as fassion? I looked in https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.core.pdf but didn't see any occurrence of fassion.

[2020-07-07 18:21] pdaniell-nv commented on #71
It sounds like when a texture is specified in this way it will not be "texture complete" or "mipmap complete" as defined in section 8.17 "Texture Completeness" of the OpenGL 4.6 spec (https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.core.pdf).

[2020-07-07 20:57] erik-kz commented on #70
My apologies, the typo was only in the refpages, not the spec PDF. I should have reported the issue there. Anyway, it looks like someone else fixed it already https://github.com/KhronosGroup/OpenGL-Refpages/commit/105a1ad9aaf2e6a865fcac7cc7f3bfe3cd196e17#diff-a7f9ebce64c2d754593efa05af428a62

[2020-07-07 20:57] #70 closed, assigned to nobody

[2020-07-09 16:54] evgenKh commented on #71
Thanks for the reference!
But it looks like textures with more levels are still "complete", according to 8.17 "Texture Completeness":

( where q is basically a log2 of max LOD0 dimension)

Also most functions in question don't require texture or mipmap completeness.
glTexImage2D, glGetTexImage - don't, and only glCopyImageSubData does require it.

[2020-07-13 17:15] devel0 opened #72 "mismatch on glFramebufferRenderbuffer attachment argument group"
from spec of [glFramebufferRenderbuffer](https://github.com/KhronosGroup/OpenGL-Registry/blob/d11e0a0fcdbda4abb579c7f6ec9fc83e3f2b5fb9/xml/gl.xml#L16964) attachment group is FramebufferAttachment

[code]

but this haven't [GL_DEPTH_ATTACHMENT](https://github.com/KhronosGroup/OpenGL-Registry/blob/d11e0a0fcdbda4abb579c7f6ec9fc83e3f2b5fb9/xml/gl.xml#L9701) that is referred to a deprecated InvalidateF

[2020-07-14 17:55] pdaniell-nv commented on #72
Would you like to propose a fix for this?

[2020-07-14 18:03] pdaniell-nv commented on #71
You may be hitting a not well specified corner of the specification when specifying an LOD outside of the expected mipmap chain. There probably is no expectation that LOD0-5 data remains well defined when the unexpected LOD6 is defined. I assume after specifying the unexpected LOD6 that if you go back and specify LOD0-5 consistent with LOD6 that the mipmap chain is unbroken and the data is correct

[2020-07-14 23:57] devel0 commented on #72
Sure PR https://github.com/KhronosGroup/OpenGL-Registry/pull/412

[2020-07-17 09:14] evgenKh commented on #71
Hi. Yes in the case you specified(going back to other levels after specifying unexpected LOD6), mipmap chain is really unbroken again and data is correct.
This looks to me like normal usage of glTexImage when replacing entire texture with new texture of different resolution.
But we're investigating the case which is initially described and which is under-specified.

[2020-07-17 18:05] pdaniell-nv commented on #71
I agree this appears to be under specified, and ideally there would be a spec fix to clarify the behavior. Even with this spec fix, you'll likely continue to encounter implementations with different behavior. Are you able to modify your OpenGL usage to avoid this under specified behavior? I ask because I don't want you to be blocked on this issue, and hope an application-side work around is satisf

[2020-07-17 19:44] werman commented on #71
It's something that came up when we wrote a test for Mesa in Piglit, so there is no application we know which has such behaviour.

[2020-08-01 10:05] TimeToWakeUp opened #73 "question about GetActiveUniformBlockiv in OpenGL ES spec3.2"
Hi, I have a question about GetActiveUniformBlockiv api. In OpenGL ES spec3.2, the input parameter pname of GetActiveUniformBlockiv can be set to UNIFORM_BLOCK_REFERENCED_BY_TESS_CONTROL_SHADER, UNIFORM_BLOCK_REFERENCED_BY_TESS_EVALUATION_SHADER and UNIFORM_BLOCK_REFERENCED_BY_GEOMETRY_SHADER, but why did I not find the values of the UNIFORM_BLOCK_REFERENCED_BY_TESS_CONTROL_SHADER, UNIFORM_BLOCK_R

[2020-08-04 20:13] pdaniell-nv commented on #73
Looks like this is a dupe of https://github.com/KhronosGroup/OpenGL-Registry/issues/417.

[2020-08-04 20:13] #73 closed, assigned to nobody

[2020-08-18 18:43] pdaniell-nv commented on #72
https://github.com/KhronosGroup/OpenGL-Registry/pull/412 has been merged, closing.

[2020-08-18 18:43] #72 closed, assigned to nobody

[2020-10-26 20:49] ianromanick opened #74 "Ill-specified interaction of display lists and primitive restart"
A few bits of the OpenGL 3.1+ specification combine to generate an interaction that may be impossible to satisfy.

- Starting in OpenGL 3.1, primitive restart enable became server state.
- `glPrimitiveRestartIndex` cannot be compiled into a display list.
- From section 21.4 (Display Lists) of the OpenGL 4.6 Compatibility Profile spec:

Based on that, what should the following code do?

[code]
The

[2020-10-26 20:53] ianromanick commented on #74
This would also affect GLX implementations of OpenGL 3.1+ compatibility profile due to the need for the client to dereference client-side arrays to send to the server.

[2020-10-27 19:17] ianromanick opened #75 "Interactions between GL_NV_primitive_restart and OpenGL 3.1+ are undefined"
In [GL_NV_primitive_restart](https://www.khronos.org/registry/OpenGL/extensions/NV/NV_primitive_restart.txt), the enable and the restart index are client state.  In unextended OpenGL 3.1 or OpenGL 3.2+ Core Profile, there is, effectively, no client vertex state.  As a result, the enable and the restart index are server state. In unextended OpenGL 3.1 or OpenGL 3.2+ Core Profile, it is not possible

[2020-10-27 22:02] ianromanick commented on #75
It's also worth noting that the spec is a little unclear as to whether or not `GL_PRIMITIVE_RESTART_NV` state affects `glPrimitiveRestartNV`. It strongly _implies_ that it is not affected.  `GL_PRIMITIVE_RESTART_NV` is client state, but GLX protocol is (partially) defined for `glPrimitiveRestartNV`.  The idea is that when the GLX client library decomposes `glDrawElements` into immediate mode drawi

[2020-11-04 22:51] erik-kz opened #76 "[GLX] Error generated on failure to create an indirect GLX context is unspecified"
glXCreateContext, glXCreateNewContext, and glXCreateContextAttribsARB will generate an error if the "direct" argument is False but the server does does not allow indirect GLX contexts, which has been X.org's default behavior for some time. However the GLX specification does not mention what the error should be in this case. For example, Mesa's server-side GLX implementation will generate a differe

[2020-11-05 21:42] pdaniell-nv commented on #76
@cubanismo is this easy to fix? I'm not sure what the process is for GLX.

[2020-11-09 11:37] CZDanol opened #77 "ARB_indirect_parameters documentation error"
Hello, I believe you have an error in the https://www.khronos.org/registry/OpenGL/extensions/ARB/ARB_indirect_parameters.txt.
In the:

It should be `sizei maxdrawcount`.

[2020-11-11 20:05] pdaniell-nv commented on #77
Thanks for spotting this problem and filing the issue. I have created a fix here: https://github.com/KhronosGroup/OpenGL-Registry/pull/441.

[2020-11-11 21:33] erik-kz commented on #76
To provide some additional details, in the situation described Mesa will generate a GLXBadContext error, while NVIDIA will generate a BadValue error, as of the latest version of both implementations. This is the case for glXCreateContext and glXCreateNewContext.

The following paragraphs from sections 3.5 and 3.3.7 of the spec respectively describe what errors these functions might generate. Notic

[2020-11-20 19:51] ianromanick opened #78 "Relax requirements for gl_VertexID and gl_PrimitiveID with immediate-mode drawing"
When an application uses immediate-mode drawing commands, the OpenGL implementation must buffer vertices submitted.  The OpenGL specification does not place limits on the number of vertices that may be submitted between `glBegin` and `glEnd`, but the buffers used to store that data will have finite size.  When the buffer becomes full, the implementation may need to split the primitive.  On some im

[2020-11-20 20:15] ianromanick commented on #78
There's probably a similar issue on many implementations for `GL_LINE_STRIP` and the line stipple pattern.

[2020-11-23 08:03] marekolsak commented on #78
Also consider this:

[code]

We can't have correct `gl_VertexID` and `gl_PrimitiveID` even without display lists if we want drivers to process that loop and generate 1 big draw where those variables don't reset to zero. (that's for performance; separate draws would be abysmally slow)

[2020-11-25 16:27] ianromanick commented on #76
I suspect both implementations just pick an error at random.  Looking at the list of error condition in the extension, I could come up with weak justification for using any of BadValue, GLXBadContext, or GLXBadFBConfig.  My gut tells me we should just pick an error for this condition, and both implementations should update to using it.

I'll try to get some other relevant people from the Mesa comm

[2020-11-25 16:32] ianromanick commented on #76
https://gitlab.freedesktop.org/xorg/xserver/-/issues/1106

[2020-11-26 19:59] nwnk commented on #76
I think this is a bug in Mesa's client side. xserver's stock GLX should generate BadValue for both the legacy path:

https://gitlab.freedesktop.org/xorg/xserver/-/blob/master/glx/glxcmds.c#L301

and the CreateContextAttribs path:

https://gitlab.freedesktop.org/xorg/xserver/-/blob/master/glx/createcontext.c#L324

Which, to be clear, I think is the most appropriate error. If you're seeing GLXBadCon

[2020-11-30 06:00] cubanismo commented on #76
Hehe, from our server-side GLX code:

"Returning BadValue here is a bit strange, but this is what X.Org does."

So we tried. I assume the IsDirect request was added after we coded that up to match X.org.

I tend to agree with @nwnk. We also force a round trip for similar reasons, but our version doesn't have the same side effect. If it's not too much work to eat that extra error code in the Mesa c

[2020-12-01 16:20] nwnk commented on #76
I've opened a merge request for this that fixes things for me:

[code]

https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/7859

Vaguely related, xserver will now not advertise `GLX_EXT_import_context` if indirect rendering is turned off, since it can't possibly work:

https://gitlab.freedesktop.org/xorg/xserver/-/merge_requests/269

I don't have an NVIDIA config handy to check, but since t

[2020-12-01 19:26] cubanismo commented on #76
We do dynamically build our server extension string actually, but that one is statically included. Importing contexts across processes certainly won't work for direct-rendering contexts, but there are other aspects of the extension that could remain useful (Querying its Visual, mostly), so I'm inclined to leave it enabled.

I think at some point we had considered adding a way to query for indirect

[2020-12-02 16:21] nwnk commented on #76
I think when I looked at this I concluded all the useful bits were already core features:

- `glXGetCurrentDisplayEXT` is `glXGetCurrentDisplay` in GLX 1.2
- `glXQueryContextInfoEXT` is `glXQueryContext` in GLX 1.3
- `glXGetContextIDEXT` is only really useful to get the XID to pass to `glXImportContextEXT`
- `glXFreeContextEXT` is only useful to destroy the client-side state of an imported context

[2020-12-02 19:50] cubanismo commented on #76
This one specifically lacks the ability to query the visual, providing an FBConfig query instead, at least in our implementation's interpretation. Maybe you can walk the steps and use that to query an FBConfig even from a 1.2-style context and it does something sensible, and then you could query a visual from the FBConfig as a separate step, but it's easier to just leave it than verify that works

[2020-12-02 22:30] erik-kz commented on #76
Incidentally, that was what prompted the original bug. In the case of Xwayland we'd be using mesa's server-side GLX implementation which was causing this to fail.

[2020-12-03 04:17] nwnk commented on #76
Hah, right you are, GLX 1.4 only names three context properties and the visual ID is not among them. Mesa's QueryContext has always supported it since the initial GLX 1.3 work [16 years ago](https://gitlab.freedesktop.org/ajax/dri/-/commit/18645b89fd125fbaefbd3b290eb88cea49db858e) (my goodness), because it aliased together the entrypoints for EXT_import_context and 1.3.

Well. Now we know. The Mes

[2020-12-08 22:09] pdaniell-nv commented on #75
The NVIDIA implementation of GL_NV_primitive_restart is totally equivalent to the core functionality:
1. glPrimitiveRestartIndexNV == glPrimitiveRestartIndex
2. GL_PRIMITIVE_RESTART_NV == GL_PRIMITIVE_RESTART
3. glClientEnable(GL_PRIMITIVE_RESTART_NV) == glEnable(GL_PRIMITIVE_RESTART)
4. glPrimitiveRestartNV == glPrimitiveRestart

[2020-12-09 00:26] ianromanick commented on #75
So.... do both `glPushAttrib` and `glPushClientAttrib` save primitive restart index and enable?  And both `glPopAttrib` and `glPopClientAttrib` restore?  From independent stacks?

Is there any chance of getting the extension spec update to document these (quite surprising) interactions?

[2020-12-09 04:16] marekolsak commented on #78
I think we can support `gl_VertexID` and `gl_PrimitiveID` with immediate mode `glBegin/End` if we disable draw merging when those variables are being used.

[2020-12-09 22:25] pdaniell-nv commented on #75
Only gl{Push,Pop}ClientAttrib(GL_CLIENT_VERTEX_ARRAY_BIT) saves/restores it.

[2020-12-14 21:42] pmistryNV opened #79 "Add requirement for mandating non empty structs to GL_ARB_gl_spirv"
GLSL spec doesn't support empty structs. GLSL 4.6 section 4.1.8 has following statement to restrict the same: "Structures must have at least one member declaration". SPIR-V specification however allows empty structs.

GL_ARB_gl_spirv doesn't explicitly mention this restriction against GLSL frontend's to not allow empty structs in SPIRV.
This restriction should be added to the extension to align it

[2020-12-14 21:55] pdaniell-nv commented on #79
For additional reference for Khronos folks, this issue was discussed here https://gitlab.khronos.org/vulkan/vulkan/-/issues/2174 for Vulkan and here https://gitlab.khronos.org/spirv/SPIR-V/-/issues/163 for SPIR-V. Both of which decided to allow empty structs. That doesn't mean we should or need to for OpenGL, but some useful background reference material.

[2020-12-14 22:18] seanbaxter commented on #79
I filed this for a bug fix and am getting feature removal instead. The comments describe the situation in detail:
https://github.com/seanbaxter/segfault_nvidia2

C++ mandates true empty structs (ones with zero size) through the empty base optimization. It's used throughout the STL. In LLVM you just don't emit the empty base, because you can Bitcast the object's address to a pointer to the empty ba

[2020-12-15 02:15] seanbaxter commented on #79
I changed the default behavior to emit a uint8_t member for all empty classes. Empty base class optimization bases are now elided entirely. Asking for an empty base class optimized subobject now returns the pointer to a special Private Variable. There's one instance per class type, created when that subobject access is made. If after all the CFG passes are don and there are still uses of this Priv

[2021-01-07 13:28] #77 closed, assigned to nobody

[2021-02-02 23:22] pdaniell-nv commented on #79
We discussed this issue in the OpenGL/ES working group. It is unclear whether others support empty structs in SPIR-V for OpenGL and there don't appear to be any tests for it. It appears there are SPIR-V tests for empty UBO and SSBO structs in Vulkan CTS, added in https://github.com/KhronosGroup/VK-GL-CTS/commit/f18008951765ce4c12ee43f1efb6b0023607119b. It would be ideal if those tests can get port

[2021-03-30 19:16] pdaniell-nv commented on #79
NVIDIA is no longer planning to push for this spec clarification. Supporting empty structs for SPIR-V is an important use case and we're planning to support it. There is an open issue to add OpenGL CTS coverage for it here: https://gitlab.khronos.org/Tracker/vk-gl-cts/-/issues/2768.

[2021-03-30 19:16] #79 closed, assigned to nobody

[2021-04-27 17:51] ianromanick opened #80 "What is the shader source string after calling glShaderSource with count=0"
What should be in `buf` when the code below is executed?  The second call to `glShaderSource` should not generate an error, so it should presumably replace the existing shader source with... nothing?

[code]

See also https://gitlab.freedesktop.org/mesa/piglit/-/merge_requests/521 and https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/10477.

[2021-04-28 05:01] tarceri commented on #80
Just while we are discussing glShaderSource() we also have ES tests e.g. [1] that test to make sure a GL_INVALID_VALUE error is returned if the source string is NULL. But neither the ES or desktop GL specs say that this is an error.

We should update the specs to include this error.

[1] dEQP-GLES2.functional.negative_api.shader.shader_source

[2021-04-28 15:50] ianromanick commented on #80
I thought this was one of the generic error conditions described in section 2.3.1 (Errors), but I don't see that language there.  Many commands specifically call out the NULL pointer behavior (e.g. `glTexImage3D`), so perhaps this condition should be added to section 2.3.1?

[2021-05-12 15:55] pdaniell-nv commented on #80
There is a generic error for count being less than 0, which returns GL_INVALID_VALUE, but I don't think there is anything that requires count to be greater than 0. For NVIDIA the call to glShaderSource(shader, 0, ) doesn't return an error and replaces the shader source for that object with an empty string so glGetShaderSource() sets buf[0]=0.

Note that I think the original question is about the "

[2021-05-30 16:41] NicolBolas commented on #74
The interaction is not ill-specified. Since the dereferencing happened at the time of compilation, and at the time of the specification, primitive restarting was not set, the behavior is obvious: it accesses the index exactly as you specified it during compilation.

Also, the function is `glArrayElement`.

[2021-05-30 18:48] ianromanick commented on #74
Yes, `glArrayIndex` should have been `glArrayElement`.  You got me on that one.

You have chosen to interpret the spec one way.  That interpretation is likely similar to the interpretation made by the vendor that crashes on array index 0x7fffffff.  However, at least one other vendor does not interpret the spec that way, and that driver has very different behavior.  At the point where two major ven

[2021-05-30 18:54] ianromanick opened #81 "GL 4.6 compatibility spec is self contradictory about primitive restart and ArrayElement"
Section 10.7.4 (Transferring Vertices With ArrayElement) says:

But section 10.3.6 (Primitive Restart) says;

1. Is `glArrayElement` subject to primitive restart or not?  The two spec quotations say the opposite thing.
2. Is `glDrawRangeElements` subject to primitive restart or not?  Section 10.3.6 seems to exclude it, but I doubt that was intended.

[2021-05-30 20:19] NicolBolas commented on #74
The existence of driver bugs is *not* a reasonable definition of "ill specified". "Ill specified" means that the standard does not say what ought to happen. That people might fail to implement it correctly is not de facto evidence of a defect in the standard.

Your point about server state vs. client state is valid, but not the idea that driver bug == ill specified.

[2021-05-30 20:46] ianromanick commented on #74
I've been actively contributing to OpenGL specs for 20 years.  This is the process.  Please stop being a troll.

[2021-05-30 20:54] NicolBolas commented on #81
The etymology of the 10.3.6 paragraph is interesting, as the quirk appears to have arisen between 4.4 and 4.5.

In 4.4, the sentence was *specifically* about the fixed-index form:

performed for array elements transferred by any drawing command not taking a
type parameter, including `ArrayElement` and all of the `*Draw*` commands other
than `*DrawElements*`.

This makes sense, as the fixed index i

[2021-06-23 05:14] kusma opened #82 "Clarification wanted: wide lines + gl_FragCoord"
The OpenGL 4.6 Core Profile specification, section 14.5.2.2 "Wide Lines" has the following wording (emphasis is mine):

It's a bit unclear what that last bit means exactly. What is "as usual" in this case?

I think it's pretty obvious what is meant with the X and Y components, which are well-defined. But the Z and W components aren't really well-defined for wide lines. The only two interpretations

[2021-08-01 16:03] matrefeytontias opened #83 "Inconsistencies related to buffer texture pnames"
In the latest refpages on the `glGet` page, `GL_TEXTURE_BINDING_BUFFER` has two incompatible definitions :
[code]
[code]
Moreover,  `glGetTexLevelParameter` does not list `GL_TEXTURE_BUFFER_DATA_STORE_BINDING` as an accepted pname, in contrast with eg the OpenGL ES 3 refpages that do list it.

[2021-08-18 20:55] pdaniell-nv commented on #82
Yeah that "as usual" is referring only to the XY components. ZW are treated like other attributes. We definitely need to clarify the spec, so thanks for pointing this out.

Do you know if the existing CTS is testing this? I know you've made other comments and changes on line related CTS so perhaps you know if this is covered.

[2021-08-19 07:48] kusma commented on #82
My understanding is that the CTS *only* tests the [preferred interpolation](https://github.com/KhronosGroup/VK-GL-CTS/issues/273), and AFAICT it tests it consistent with the wording only applying to the X and Y components.

So, "covered" in this regard, yes. But also broken ;)

[2021-10-31 08:08] george-tsiros commented on #69
Since we're here, it would be _SO DAMN NICE_ if you made a non-trivial example for each of the draw call functions that demonstrated its usefulness.

[2021-11-10 21:26] greggman opened #84 "OpenGL ES: What extensions allows depth textures to be filterable?"
[The OpenGL ES 3.2 spec](https://www.khronos.org/registry/OpenGL/specs/es/3.2/es_spec_3.2.pdf) section seems to say that depth textures are not filterable 8.17 page 207

My understanding of that is that in OpenGL ES 3.2 depth textures are not filterable. Maybe I'm not finding it but I don't see any extension that would make them filterable. `OES_texture_float_linear` doesn't mention depth formats.

[2021-12-08 16:08] null77 commented on #84
I don't know of such an extension Gregg. Are you expecting there to an extension that allows non-nearest sampling on depth/stencil?

edit - it seems though filtering is maybe allowed when using a compare mode

[2021-12-21 22:09] pdaniell-nv commented on #84
There is a little more detail on page 214 of the OpenGL ES 3.2 spec describing how filtering affects the depth comparison reference value fetched.

[2021-12-22 07:41] greggman commented on #84
I'm expecting something to tell me if depth textures are filterable. The spec says "implementation defined" so they may or may not be filterable even when using TEXTURE_COMPARE_MODE is COMPARE_REF_TO_TEXTURE

Effectively it sounds like the only way to find out is to render and check if the result is filtered.

[2022-01-09 19:43] LtSten opened #85 "Incorrect definition of vertex ID in DrawElementsOneInstance"
Considering §10.4 of the Core 4.6 spec, with regards to DrawElementsOneInstance, we have

As defined in §10.3.10 (which subsequently defers to §10.3.9), offsets are expressed in basic machine units; we note this is consistent with the passing of `cmd->firstIndex * size-of-type` as `indices` to DrawElementsInstancedBaseVertexBaseInstance in the definition of DrawElementsIndirect.

Returning to Draw

[2022-01-26 22:47] ianromanick opened #86 "Spec missing some glTexImage(GL_STENCIL_INDEX8) error cases"
The "Errors" block at the end of section 8.5.3 (Texture Image Structure) of the OpenGL 4.6 spec says:

I think the `STENCIL_INDEX` error should have the same conditions as the `DEPTH_COMPONENT` / `DEPTH_STENCIL` case.

The spec is clear that `glTexImage2D(..., internalformat=RGBA8, ..., format=GL_STENCIL_INDEX, ...)` is an error.  I believe `glTexImage2D(..., internalformat=GL_STENCIL_INDEX8, ...,

[2022-01-28 22:42] pdaniell-nv commented on #85
We discussed this in the 2022-01-19 meeting and agree the spec should be fixed here. The sentence in the 2nd paragraph on page 369 of the OpenGL 4.6 core spec should say:

[2022-02-02 16:36] pdaniell-nv commented on #85
Assigned to @oddhack to make this spec fix on the next round of updates.

[2022-02-02 19:40] ianromanick commented on #86
Looking at this after the meeting, I'm wondering if `glTexImage2D(..., internalformat=STENCIL_INDEX, ..., format=DEPTH_STENCIL, ...)` should be allowed.

By the existing error, quoted above, it is not.  However, `glTexImage2D(..., internalformat=DEPTH_COMPONENT, ..., format=DEPTH_STENCIL, ...)` does seem to be valid.  Is that intended?  Ugh!

[2022-02-16 16:24] pdaniell-nv commented on #86
Our implementation supports this:

but does not support this:

The first does seem to be explicitly allowed by the spec, and the second throws INVALID_OPERATION. I think your proposed spec fix to clarify the error for STENCIL_INDEX and not DEPTH_STENCIL is good.

[2022-03-02 16:07] pdaniell-nv commented on #86
@oddhack can you change the error on page 215 of the OpenGL 4.6 core spec from:

to

[2022-03-07 09:40] oddhack commented on #85
This appears equally applicable to ES 3.2 so planning to include the fix there as well, unless I missed something.

[2022-03-07 22:51] pdaniell-nv commented on #85
Sounds good, thanks.

[2022-03-19 01:30] kenrussell commented on #84
Could the WebGL working group please ask for a bit more detail and clarification from the OpenGL ES working group to help resolve https://github.com/KhronosGroup/WebGL/issues/3359 ?

Right now with TEXTURE_COMPARE_MODE=COMPARE_REF_TO_TEXTURE and a non-NEAREST TEXTURE_MIN_FILTER or TEXTURE_MAG_FILTER, OpenGL ES implementations can choose whether or not to sample more than one depth texture value.

[2022-03-30 22:35] pdaniell-nv commented on #84
@kenrussell We discussed this in the joint OpenGL/ES working group meeting today. We're not aware of a way currently for the application to query the behavior of the implementation when the filtering is not NEAREST. A quick poll of the members present suggests there are at least three different behaviors.

It appears the OpenGL spec for this is the same as OpenGL ES. For Vulkan it doesn't appear t

[2022-03-30 22:40] pdaniell-nv commented on #84
I filed an internal Vulkan issue here: https://gitlab.khronos.org/vulkan/vulkan/-/issues/3058

[2022-04-12 20:57] pdaniell-nv commented on #84
FYI this is actually mentioned in the Vulkan spec, it just in a different place that expected. It's in the [34.2. Format Properties](https://www.khronos.org/registry/vulkan/specs/1.3/html/vkspec.html#formats-properties) section in the description for `VK_FORMAT_FEATURE_SAMPLED_IMAGE_FILTER_LINEAR_BIT`:

This is essentially the same as the OpenGL ES spec and also allows implementation-defined behav

[2022-05-05 12:51] oddhack commented on #62
This should be fixed in the spec update of May 5, 2022.

[2022-05-05 12:51] #62 closed, assigned to oddhack

[2022-05-05 12:51] oddhack commented on #69
The original issue should be fixed in the spec update of May 5, 2022.

[2022-05-05 12:51] #69 closed, assigned to oddhack

[2022-05-05 12:51] oddhack commented on #68
This should be fixed in the spec update of May 5, 2022.

[2022-05-05 12:51] #68 closed, assigned to oddhack

[2022-05-05 12:51] oddhack commented on #85
This should be fixed in the spec update of May 5, 2022.

[2022-05-05 12:51] #85 closed, assigned to oddhack

[2022-05-05 12:51] oddhack commented on #86
This should be fixed in the spec update of May 5, 2022.

[2022-05-05 12:51] #86 closed, assigned to oddhack

[2022-05-13 20:42] #82 closed, assigned to nobody

[2022-05-24 20:15] pdaniell-nv commented on #84
I think the next step for this is to propose an extension for OpenGL ES so implementations can advertise their implementation-defined behavior, or applications can do a quick test to measure what the implementation does. Do we need to keep this issue open?

[2022-07-02 14:13] BoyBaykiller opened #87 "How likely is a new OpenGL version?"
How likely is a new OpenGL version?
Are there any official statements on this topic?

[2022-07-02 16:19] pdaniell-nv commented on #87
There are no official statements on this question at this time. Are there any features in particular you would like to see in a new core version of OpenGL?

[2022-07-02 18:29] BoyBaykiller commented on #87
Ok good to know.

Well there is lots of things. Seeing Ray Tracing, VRS or Mesh Shaders in a core release would be cool of course, but obviously that's unrealistic.

Excluding that kind of stuff my wishlist says:
* add `GL_KHR_shader_subgroup`
* add `GL_ARB_bindless_texture`
* add `GL_ARB_shader_viewport_layer_array`
* add `GL_NV_fragment_shader_barycentric`
* add `GL_NV_shader_buffer_load/store`

[2022-07-06 15:49] pdaniell-nv commented on #87
Thanks for your feedback. Your request list is a useful data point. I'm going to close this issue, but it will remain archived.

[2022-07-06 15:49] #87 closed, assigned to nobody